.backgroung {
   display: none;
   @media (min-width: 568px) {
      display: block;
      &__image {
         position: absolute;
         img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
         &_1 {
            img {
               filter: brightness(0.9) hue-rotate(202deg);
            }
            @media (min-width: 568px) {
               width: percent(340, 1440);
               padding-bottom: percent(340, 1440);
               transform: rotate(75deg);
            }
         }
         &_2 {
            img {
               filter: brightness(0.7) blur(4px) hue-rotate(158deg);
            }
            @media (min-width: 568px) {
               width: percent(169.79, 1440);
               padding-bottom: percent(169.79, 1440);
               transform: rotate(-3.92deg);
            }
         }
         &_3 {
            img {
               filter: brightness(0.7) hue-rotate(158deg);
            }
            @media (min-width: 568px) {
               width: percent(119.4, 1440);
               padding-bottom: percent(119.4, 1440);
               transform: rotate(59.59deg);
            }
         }
         &_4 {
            img {
               filter: blur(4px) hue-rotate(194deg);
            }
            @media (min-width: 568px) {
               width: percent(458, 1440);
               padding-bottom: percent(458, 1440);
               transform: rotate(-20.2deg);
            }
         }
      }
   }
}
