.banner {
   &:hover {
      .banner {
         &__image_1 {
            filter: blur(0px) saturate(210%) hue-rotate(360deg);
         }
         &__image_2 {
            filter: blur(0);
         }
      }
   }
   background: linear-gradient(140.92deg, #6880ff 3.3%, #3ca7f4 52.35%, #8c45ff 92.15%);
   color: #fff;
   border-radius: rem(24);
   overflow: hidden;
   &__content {
      padding-top: percent(36, 345);
      padding-bottom: percent(28, 345);
      padding-left: percent(26, 345);
      padding-right: percent(26, 345);
      position: relative;
      z-index: 1;
   }
   .crown {
      display: inline-block;
      @include fl(17);
      margin-bottom: 8px;
      transform: translate(2px, 0);

      @media (min-width: 1200px) {
         margin-bottom: 19.5px;
      }
   }
   &__title {
      margin-bottom: 8px;
      @media (min-width: 1200px) {
         margin-bottom: 12px;
      }
   }
   &__text {
      margin-bottom: 22px;
      @media (min-width: 1200px) {
         margin-bottom: 12px;
         max-width: 440px;
      }
   }
   &__graphic {
      padding-bottom: percent(213, 345);
      position: relative;
      @media (min-width: 500px) {
         padding-bottom: 0;
         height: 296.59px;
         width: 460px;
         margin: 0 auto;
      }
   }
   &__circle {
      position: absolute;
      left: calc((100% - percent(399, 345)) / 2);
      width: percent(399, 345);
      height: percent(399, 173);
   }
   &__image {
      position: absolute;
      transition: all 0.5s ease;
      // animation: changeColor 5s ease 0s;
      animation-iteration-count: infinite;

      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
      &_1 {
         width: percent(146.88, 345);
         padding-bottom: percent(95.25, 345);
         top: 92px;
         left: percent(-67, 345);
         transform: rotate(23.14deg);
         filter: blur(3px) saturate(210%) hue-rotate(360deg);
      }
      &_2 {
         width: percent(133.9, 345);
         padding-bottom: percent(93.52, 345);
         top: 127px;
         left: percent(242, 345);
         transform: rotate(-44.21deg);
         filter: blur(7px);
      }
      // &_main {
      // }
      @keyframes changeColor {
         0% {
            filter: saturate(210%) hue-rotate(360deg);
         }
         50% {
            filter: saturate(110%) hue-rotate(0deg);
         }
         100% {
            filter: saturate(210%) hue-rotate(360deg);
         }
      }
   }
   &_regular {
      @media (min-width: 769px) {
         background: linear-gradient(94.78deg, #6880ff 9.27%, #3ca7f4 50.77%, #8c45ff 84.06%);
      }
      @media (min-width: 769px) {
         display: flex;
         align-items: center;
         column-gap: 32px;
      }
      .btn {
         max-width: 135px;
         @media (min-width: 1200px) {
            max-width: 167px;
         }
      }
      .crown {
         @media (min-width: 769px) {
            @include fl(22);
         }
         @media (min-width: 1000px) {
            @include fl(26);
         }
         @media (min-width: 1200px) {
            @include fl(30);
            transform: translate(4px, 1px);
         }
      }
      .banner {
         &__content {
            @media (min-width: 769px) {
               flex: 0 0 percent(554, 1140);
               padding-right: 0;
            }
            @media (min-width: 1200px) {
               padding-left: percent(110, 1140);
               padding-top: 90px;
               padding-bottom: 84px;
            }
         }
         &__graphic {
            @media (min-width: 769px) {
               flex: 0 0 percent(554, 1140);
               width: auto;
               height: auto;
               margin: 0;
               padding-bottom: percent(446, 1140);
            }
         }
         &__circle {
            top: -10px;
            top: percent(-10, 213);
         }
         &__image {
            &_1 {
               @media (min-width: 769px) {
                  top: percent(-17, 446);
                  left: percent(125, 554);
                  width: percent(165, 554);
                  padding-bottom: percent(107, 554);
                  transform: rotate(-10.49deg);
               }
            }
            &_2 {
               @media (min-width: 769px) {
                  top: percent(302, 446);
                  left: percent(328, 554);
                  width: percent(220.3, 554);
                  padding-bottom: percent(153.86, 554);
                  transform: rotate(-44.21deg);
               }
            }
            &_main {
               width: percent(207, 345);
               padding-bottom: percent(149, 345);
               top: 2px;
               left: 50%;
               transform: translate(-50%, 0);
               img {
                  object-fit: contain;
               }
               @media (min-width: 769px) {
                  width: percent(331.98, 554);
                  padding-bottom: percent(239.82, 554);
                  top: percent(112, 446);
                  left: percent(123, 554);
                  transform: rotate(8.04deg);
               }
            }
         }
      }
   }
}
