.blur-img {
   position: absolute;
   z-index: -1;
   &_1 {
      img {
         @media (max-width: 768px) {
            width: 791px;
            height: 762px;
         }
         @media (min-width: 769px) {
            width: 1245px;
            height: 1199px;
         }
      }
   }
   &_2 {
      img {
         @media (max-width: 768px) {
            width: 752px;
            height: 724px;
         }
         @media (min-width: 769px) {
            width: 1245px;
            height: 1199px;
         }
      }
   }
   &_3 {
      img {
         width: 1245px;
         height: 1199px;
      }
   }
}
