.card-item {
    max-width: 100%;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    &.none {
       display: none;
    }
    &__text {
      @media (min-width: 1200px) {
         transform: translateY(-3px);
      }
    }
    &--big {
       @media (min-width: 630px) {
        grid-column: span 2;
       }
       @media (min-width: 1200px) {
        .card-item__text {
            transform: translateY(3px);
        }
        .card-item__content-box .card-item__price {
         transform: translateY(-8px);
        }
       }
    }
    .image {
       padding-bottom: calc(412 / 345 * 100%);
       &.blur {
          filter: blur(22px);
          opacity: 0.17;
       }
    }
    &__locked {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       border: 1px solid #525960;
       border-radius: 12px;
       .btn.small {
        max-width: 134px;
        width: 100%;
        transform: translate(5px,-2px);
        a {
            z-index: 0;
        }
       }
    }
    &__locked-caption {
      text-transform: lowercase;
      @media (min-width: 1200px) {
         transform: translate(2px, -3px);
      }
    }
    &__locked-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        transform: translate(1px, -3px);
       i {
        font-size: 33px;
       }
    }
    &__locked-title {
       max-width: 285px;
       width: 100%;
       text-align: right;
       margin-left: 16px;
       transform: translateX(6px);
       i {
          left: 33px;
       }
    }
    &__content-box {
        width: 100%;
        max-height: 232px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        padding: 10px 0;
        @media (min-width: 1200px) {
         padding: 0;
            .card-item__title {
                transform: translateY(7px);
            }
            .card-item__price {
                transform: translateY(-4px);
            }
        }
    }
    &__content {
       position: absolute;
       top: 0;
       left: 0;
       bottom: 0;
       right: 0;
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       row-gap: 5px;
       opacity: 0;
       transition: opacity 0.3s;
       &:hover {
          background: linear-gradient(
             175deg,
             rgba(104, 128, 255, 0.9) 0%,
             rgba(60, 167, 244, 0.9) 55.2%,
             rgba(140, 69, 255, 0.9) 100%
          );
          border-radius: 12px;
          opacity: 1;
       }
    }
    &__locked ~ &__content {
      pointer-events: none;
      &:hover {
         display: none;
      }
    }
    &__title {
       line-height: 1;
    }
    &__text {
       max-width: 257px;
       margin: 0 auto;
       text-align: center;
    }
    &__price {
       margin-bottom: 0;
    }
    &__btns {
       display: flex;
       align-items: center;
       justify-content: center;
       gap: 12px;
       width: 100%;
       .btn:first-child {
        max-width: 122px;
        width: 100%;
        padding-left: 21px;
       }
       .btn:last-child {
        max-width: 134px;
        width: 100%;
        padding-left: 13px;
       }
    }
    &__btn {
       max-width: 122px;
       width: 100%;
       height: 64px;
       position: relative;
       background-color: #1d1f21;
       font-family: "ProximaNova";
       font-weight: 700;
       font-size: 18px;
       line-height: 26px;
       span,
       i {
          background: linear-gradient(94.78deg, #68c9ff 9.27%, #d1b5ff 84.06%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          color: transparent;
       }
       i {
          left: calc(85 / 134 * 100%);
          font-size: 12px;
       }
       &--wide {
          max-width: 134px;
          justify-content: start;
          padding: 18px 30px;
       }
    }
 }
 .card-item--big {
    .image {
       padding-bottom: calc(200 / 345 * 100%);
    }
 }