.confirm {
   display: flex;
   align-items: center;
   color: #c8d2dc;
   @include fl(14, 21);
   height: 20px;
   position: relative;
   padding-left: 30px;
   &:before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0%;
      left: 0;
      width: 18px;
      height: 18px;
      border: 1px solid #525960;
      border-radius: 7px;
      background: transparent;
   }
   input[type="checkbox"] {
      width: 0;
      height: 0;
      visibility: hidden;
   }
   @-moz-document url-prefix() {
      input[type="checkbox"] {
         margin: 0 -4px 0 0;
      }
   }
   a {
      display: inline-block;
      margin-left: 4.5px;
      margin-right: 4.5px;
      font-weight: 600;
      color: #86a8ff;
      position: relative;
      &:after {
         content: "";
         position: absolute;
         top: calc(100% - 4px);
         left: 0;
         width: 100%;
         height: 1px;
         background: #86a8ff;
      }
   }
   svg {
      position: absolute;
      top: 3px;
      left: 1px;
      width: 18px;
      height: 13.5px;
      opacity: 0;
      transition: all 0.15s ease;

      path {
         stroke: #9aa1a7;
      }
      &.active {
         opacity: 1;
      }
   }
}
