.nft-card-item {
   background-color: #212426;
   border-radius: rem(12);
   // width: percent(280, 361);
   padding: percent(13, 280);
   @media (min-width: 769px) {
      padding-left: 24px;
      padding-right: 21px;
      padding-top: 14px;
      padding-bottom: 17px;
      // width: percent(350, 1440);
   }
   // .nft-card-item__body
   &__body {
      @media (min-width: 769px) {
         display: flex;
         flex-direction: column;
      }
   }
   .paint-block {
      @media (min-width: 769px) {
         order: 2;
         margin-left: -24px;
         margin-right: -21px;
         margin-bottom: 16px;
      }
   }
   // .nft-card-item__label
   &__label {
      @media (max-width: 768px) {
         margin-top: 8px;
      }
      @media (min-width: 769px) {
         order: 1;
         transform: translate(-4px, 0);
         margin-bottom: 14px;
         align-self: flex-start;
      }
   }

   // .nft-card-item__title
   &__title {
      margin-bottom: 3px;
      color: #fcffff;
      @media (min-width: 769px) {
         order: 3;
         margin-bottom: 2px;
      }
   }

   // .nft-card-item__text
   &__text {
      font-weight: 400;
      color: #c8d2dc;
      @include fl(12, 20);
      margin-bottom: 10px;
      @media (min-width: 468px) {
         @include fl(13, 20);
      }
      @media (min-width: 769px) {
         @include fl(14, 21);
         order: 4;
         margin-bottom: 18px;
      }
   }

   // .nft-card-item__row
   &__row {
      @media (min-width: 769px) {
         order: 4;
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding-top: 15px;
         position: relative;
         &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: rgba(252, 255, 255, 0.05);
         }
      }
      &_modified {
         @media (max-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 12px;
            padding-right: 5px;
            position: relative;
            &:before {
               content: "";
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 1px;
               background: rgba(252, 255, 255, 0.05);
            }
         }
      }
   }

   // .nft-card-item__price
   &__price {
      color: #fcffff;
   }
   .btn {
      border-radius: rem(8);

      min-height: 40px;
      max-height: 40px;
      min-width: 96px;
      a {
         @include fl(14, 20);
         transform: translate(-1px, 0px);
      }

      @media (min-width: 769px) {
         min-height: 48px;
         max-height: 48px;
         min-width: 116px;
      }
   }
}
