.paint-block {
   position: relative;
   padding-bottom: 100%;
   @media (max-width: 768px) {
      border-radius: rem(12);
   }
   @media (min-width: 769px) {
      padding-bottom: percent(350, 305);
   }
   img {
      position: absolute;
      top: 0;
      left: 0;
      width: 102%;
      height: 100%;
      object-fit: cover;
      object-position: 1px 71%;
   }
   .paint-circle {
      position: absolute;
      bottom: 0;
      left: 0;
      width: percent(253, 253);
      &_big {
         height: percent(196, 253);
      }
      &_small {
         height: percent(142, 253);
      }
   }
   &_green {
      background-color: #c5ff98;
   }
   &_blue {
      background-color: #86a8ff;
   }
   &_purple {
      background-color: #7e51ff;
   }
}
