<header class="header">
	<div class="header__container">
		<div class="header__body">
			<a class="header__logo" href="index.html">
				<img src="@img/logo.svg" alt="logo">
			</a>
			<div class="header__action">
				<div class="header__action-wrapper">
					<div class="header__action-body">

						<ul class="header__menu menu">
							<li class="menu__item">
								<a href="index.html">Main page</a>
							</li>
							<li class="menu__item">
								<a href="catalog.html">NFT</a>
							</li>
							<li class="menu__item">
								<a href="catalog.html">Pictures</a>
							</li>
							<li class="menu__item">
								<a href="#">Auction</a>
							</li>
							<li class="menu__item">
								<a href="#">Pricing</a>
							</li>
							<li class="menu__item">
								<a href="#">Contacts</a>
							</li>
							<li class="menu__item">
								<a href="#">Blog</a>
							</li>
						</ul>
						<div class="header__buttons">
							<div class="spoiler">
								<div class="spoiler__preview">
									<div class="spoiler__title">ENG</div>
									<div class="spoiler__icon">
										<i class="arrow-down"></i>
									</div>
								</div>
								<div class="spoiler__wrapper">
									<div class="spoiler__body">
										<p>UA</p>
									</div>
								</div>
							</div>
							@@include('../base/_btn.html', {
							'text': 'Authorization',
							'modify': 'small grad-text'
							})
							@@include('../base/_btn.html', {
							'text': 'Premium access',
							'modify': 'big grad-bg'
							})
						</div>
					</div>
				</div>
			</div>
			<div class="header__premium-btn">
				<i class="crown"></i>
			</div>
			<div class="header__burger burger">
				<div class="burger__wrapper">
					<span></span>
				</div>
			</div>
		</div>
	</div>
</header>