<header class="header">
   <div class="header__container">
      <div class="header__body">
         <div class="header__burger burger">
            <div class="burger__wrapper">
               <span></span>
            </div>
         </div>
         <a class="header__logo" href="index.html">Logo</a>
         <ul class="header__action header-action">
            <li class="header-action__item">
               <a href="index.html">Main page</a>
            </li>
            <li class="header-action__item">
               <a href="catalog.html">NFT</a>
            </li>
            <li class="header-action__item">
               <a href="catalog.html">Pictures</a>
            </li>
            <li class="header-action__item">
               <a href="#">Auction</a>
            </li>
            <li class="header-action__item">
               <a href="#">Pricing</a>
            </li>
            <li class="header-action__item">
               <a href="#">Contacts</a>
            </li>
            <li class="header-action__item">
               <a href="#">Blog</a>
            </li>
         </ul>
      </div>
   </div>
</header>
