<div class="backgroung">
	<div class='backgroung__image backgroung__image_1'>
		<picture>
			<source type='image/webp' srcset='@img/bg/bg_diamond.webp'>
			<img src='@img/bg/bg_diamond.png' alt='background diamong image'>
		</picture>
	</div>
	<div class='backgroung__image backgroung__image_2'>
		<picture>
			<source type='image/webp' srcset='@img/bg/bg_diamond.webp'>
			<img src='@img/bg/bg_diamond.png' alt='background diamong image'>
		</picture>
	</div>
	<div class='backgroung__image backgroung__image_3'>
		<picture>
			<source type='image/webp' srcset='@img/bg/bg_diamond.webp'>
			<img src='@img/bg/bg_diamond.png' alt='background diamong image'>
		</picture>
	</div>
	<div class='backgroung__image backgroung__image_4'>
		<picture>
			<source type='image/webp' srcset='@img/bg/bg_cube.webp'>
			<img src='@img/bg/bg_cube.png' alt='background cube image'>
		</picture>
	</div>
</div>