<div class='blur-img blur-img_1'>
	<picture>
		<source type='image/png' srcset='@img/blur/desk-01.png' media="(min-width: 769px)">
		<source type='image/png' srcset='@img/blur/mob-01.png' media="(min-width: 100px)">
		<img src='@img/blur/mob-01.png' alt='background image'>
	</picture>
</div>
<div class='blur-img blur-img_2'>
	<picture>
		<source type='image/png' srcset='@img/blur/desk-02.png' media="(min-width: 769px)">
		<source type='image/png' srcset='@img/blur/mob-02.png' media="(min-width: 100px)">
		<img src='@img/blur/mob-02.png' alt='background image'>
	</picture>
</div>
<div class='blur-img blur-img_3'>
	<picture>
		<source type='image/png' srcset='@img/blur/desk-03.png' media="(min-width: 769px)">
		<source type='image/png' srcset='@img/blur/mob-03.png' media="(min-width: 100px)">
		<img src='@img/blur/mob-03.png' alt='background image'>
	</picture>
</div>