@@if (context.swiper) {
<div class="swiper-slide">
	}
	<div class="nft-card-item">
		<div class="nft-card-item__body">
			@@include('./_paint-block.html', {
			'modify': '@@modifyBg'
			})
			<h6 class="nft-card-item__label">@@label</h6>
			<h5 class="nft-card-item__title">@@title</h5>
			<h4 class="nft-card-item__text">@@text</h4>
			<div class="nft-card-item__row @@if (context.modifyClass) {nft-card-item__row_modified}">
				<div class="nft-card-item__price">@@price</div>
				@@include("../base/_btn.html", {
				"text": "@@buttonText",
				"modify": "small grad-bg",
				})
			</div>
		</div>
	</div>
	@@if (context.swiper) {
</div>
}