<div class="paint-block paint-block_@@modify">
	<svg class="paint-circle paint-circle_big" width="253" height="196" viewBox="0 0 253 196"
		fill="none" xmlns="http://www.w3.org/2000/svg">
		<path opacity="0.2"
			d="M284.444 167.447C284.444 254.458 213.75 325.03 126.5 325.03C39.2499 325.03 -31.4443 254.458 -31.4443 167.447C-31.4443 80.4364 39.2499 9.86429 126.5 9.86429C213.75 9.86429 284.444 80.4364 284.444 167.447Z"
			stroke="url(#paint0_linear_44_951)" stroke-opacity="0.62" stroke-width="19.5171" />
		<defs>
			<linearGradient id="paint0_linear_44_951" x1="126.5" y1="0.105713" x2="126.5" y2="334.789"
				gradientUnits="userSpaceOnUse">
				<stop stop-color="#1D1F21" stop-opacity="0.63" />
				<stop offset="0.447861" stop-color="#1D1F21" stop-opacity="0" />
			</linearGradient>
		</defs>
	</svg>
	<svg class="paint-circle paint-circle_small" width="253" height="142" viewBox="0 0 253 142"
		fill="none" xmlns="http://www.w3.org/2000/svg">
		<circle cx="126.5" cy="134.771" r="117.826" stroke="url(#paint0_linear_44_950)"
			stroke-opacity="0.62" stroke-width="33.2514" />
		<defs>
			<linearGradient id="paint0_linear_44_950" x1="126.5" y1="0.319824" x2="126.5" y2="269.223"
				gradientUnits="userSpaceOnUse">
				<stop stop-color="#1D1F21" stop-opacity="0.63" />
				<stop offset="0.447861" stop-color="#1D1F21" stop-opacity="0" />
			</linearGradient>
		</defs>
	</svg>

	<picture>
		<source type='image/webp' srcset='@img/gallery/03.webp'>
		<img src='@img/gallery/03.png' alt='paint image'>
	</picture>
</div>