// Подлкючение базовых стилей
@import "./default/variables";
@import "./default/null";
@import "./default/mixins";
@import "./default/function";
@import "./default/fonts";
@import "./default/global";
@import "./default/text";

// Header / Footer
@import "./components/structure/header";
@import "./components/structure/footer";

// Подключение стилей базовых компонентов
// @import "./components/base/pop-up";
// @import "./components/base/spoiler";

// Подключение стилей компонентов
@import "./components/base/btn";
@import "./components/blocks/paint-block";
@import "./components/blocks/social-icons";
@import "./components/blocks/bread-crumbs";
@import "./components/blocks/inputs";
@import "./components/blocks/banner";

//Подключение стилей конкретной страницы
@import "./pages/auction";
