// Подлкючение базовых стилей
@import "./default/variables";
@import "./default/null";
@import "./default/mixins";
@import "./default/function";
@import "./default/fonts";
@import "./default/global";
@import "./default/text";

// Header / Footer
@import "./components/structure/header";
@import "./components/structure/footer";

// Подключение стилей базовых компонентов
@import "./components/base/pop-up";
@import "./components/base/spoiler";

// Подключение стилей компонентов
@import "./components/base/btn";
@import "./components/blocks/stroke-text";
@import "./components/blocks/social-icons";
@import "./components/blocks/hello-h1";
@import "./components/blocks/hello-h2";
@import "./components/blocks/double-block";
@import "./components/blocks/banner";
@import "./components/blocks/nft-card-item";
@import "./components/blocks/paint-block";
@import "./components/blocks/inputs";
@import "./components/blocks/confirm";
@import "./components/blocks/contact-form";
@import "./components/blocks/background";
@import "./components/blocks/tabs";
@import "./components/blocks/tabs__nav";

//Подключение стилей конкретной страницы
body.components {
   .parent-block {
      position: relative;
      overflow: hidden;
      .backgroung {
         &__image {
            &_1 {
               @media (min-width: 568px) {
                  top: percent(327, 709.06);
                  left: percent(-125, 1440);
               }
            }
            &_2 {
               @media (min-width: 568px) {
                  top: percent(227, 709.06);
                  left: percent(165, 1440);
               }
            }
            &_3 {
               @media (min-width: 568px) {
                  top: percent(610, 709.06);
                  left: percent(237, 1440);
               }
            }
            &_4 {
               @media (min-width: 568px) {
                  top: percent(192, 709.06);
                  left: percent(1156, 1440);
               }
            }
         }
      }
   }
   .example-form {
      max-width: 410px;
      margin: 0 auto;
      display: grid;
      row-gap: 15px;
   }
}
