.header {
   position: relative;
   &:before {
      // Накрывает менюшки с position: fixed
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent; // todo Изменить на нужны цвет подложки
      z-index: 1;
   }
   &__container {
   }
   &__body {
      min-height: 64px; // todo Указываем минимальную высоту шапки
      display: flex;
      justify-content: space-between; // todo Позиционируем элементы по оси Х
      align-items: center;
      padding-left: 8px;
      @media (min-width: 1050px) {
         column-gap: 20px;
      }
      @media (min-width: 1250px) {
         column-gap: 34px;
      }
   }
   &__logo {
      z-index: 2;
      font-size: 35px;
      transition: all 0.3s ease;
      transform: translate(0, 3px);
      &:hover {
         transform: translate(0, 3px) scale(1.2);
      }
   }
   &__action {
      // flex: 1 1 auto;
      // display: flex;
      // align-items: center;
      // justify-content: space-between;
      // position: relative;
      // z-index: 2;
      // column-gap: 25px;
      // display: none; // ! NONE
      transition: all 0.5s ease;
      position: fixed;
      top: 0;
      right: -100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      padding-top: 64px;
      padding-bottom: 20px;
      background-color: $darkColor;
      padding-right: percent(19, 375);
      padding-left: percent(19, 375);
      row-gap: 30px;
      @media (min-width: 468px) {
         width: auto;
         border-radius: 0 0 0 16px;
      }
      &:before {
         content: "";
         position: absolute;
         top: 0;
         left: calc(-100vw + 100%);
         width: 100vw;
         height: 100vh;
         opacity: 0;
         backdrop-filter: blur(3px);
         z-index: -1;
         transition: all 0.3s ease 0.3s;
      }
      &.active {
         right: 0;
         &:before {
            opacity: 1;
         }
      }
   }
   &__buttons {
      // display: flex;
      // justify-content: space-between;
      // align-items: center;
      // column-gap: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-items: baseline;
      width: 100%;
      column-gap: 32px;
      .btn.big {
         display: none;
      }
      @media (min-width: 1050px) {
         .btn.big {
            display: flex;
         }
      }
   }
   .spoiler {
      background-color: #212426;
      color: #c8d2dc;
      border-radius: rem(7);
      font-family: $ff2;
      @include fl(14, 19);
      &__preview {
         cursor: pointer;
         padding-top: 8px;
         padding-bottom: 8px;
         padding-left: 12px;
         padding-right: 17px;
         position: relative;
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
      &__title {
         margin-right: 9px;
      }
      &__icon {
         transition: all 0.3s ease;
         @include fl(8);
      }
      &__wrapper {
         height: 0;
         overflow: hidden;
         transition: all 0.5s ease;
      }
      &__body {
         padding-top: 8px;
         padding-bottom: 8px;
         padding-left: 12px;
         padding-right: 17px;
         p {
            cursor: pointer;
            display: inline-block;
         }
      }
      &.opened {
         .spoiler {
            &__icon {
               transform: rotate(180deg);
            }
         }
      }
   }
   .btn {
      min-height: 48px;
      padding-left: 22px;
      padding-right: 22px;
      a {
         @include fl(14, 20);
         white-space: nowrap;
      }
   }
   &__premium-btn {
      position: relative;
      z-index: 2;
      cursor: pointer;
      @extend %grad-bg-black;
      padding: 8.5px;
      margin-left: auto;
      margin-right: 6px;
      border-radius: rem(9);
      @media (min-width: 769px) {
         height: 48px;
         width: 48px;
         display: flex;
         justify-content: center;
         align-items: center;
         i {
            @include fz(28);
         }
      }
      @media (min-width: 1050px) {
         display: none;
      }
      i {
         @include fl(15);
         @extend %grad-text;
      }
      transition: all 0.3s ease;
      &:hover {
         transform: scale(1.1);
      }
   }
}

.menu {
   // flex: 1 1 auto;
   // position: relative;
   // z-index: 2;
   // display: flex;
   // align-items: center;
   // justify-content: space-between;
   // column-gap: 15px;
   // color: #fff;
   // max-width: 508px;
   width: 100%;
   display: flex;
   flex-direction: column;
   row-gap: 20px;
   text-align: right;
   li {
      width: 100%;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      padding-top: 5px;
      padding-bottom: 5px;
      &:after {
         pointer-events: none;
         transition: all 0.3s ease;
         content: "";
         position: absolute;
         top: calc(100% + 10px);
         left: 0;
         width: 100%;
         height: 1px;
         @extend %grad-bg;
         opacity: 0.1;
      }
      a {
         transition: all 0.3s ease;
         font-family: $ff2;
         @include fl(16, 21);
         background: linear-gradient(94.78deg, #c8d2dc 0%, #c8d2dc 100%);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         background-clip: text;
         color: transparent;
         white-space: nowrap;
         position: relative;
         padding-top: 10px;
         padding-bottom: 10px;
         &:after {
            @media (min-width: 1000px) {
               transition: all 0.5s ease;
               content: "";
               position: absolute;
               top: calc(100% + 3px);
               left: 0;
               width: 0;
               height: 1px;
            }
            @extend %grad-bg;
         }
         @media (min-width: 1000px) {
            @include fl(14, 19);
         }
      }
      transition: all 0.5s ease;
      &:hover {
         &:after {
            opacity: 0.3;
         }
         a {
            @extend %grad-text;
            &:after {
               @media (min-width: 1000px) {
                  width: 100%;
               }
            }
         }
      }
   }
}

.burger {
   position: relative;
   z-index: 2;
   min-height: 32px; // Высота блока для удобства нажатия на иконку
   width: 32px; // Ширина блока для удобства нажатия на иконку
   // ? Двигаем на половину от разницы между width для .burger и width для .burger__wrapper что бы .burger прилип к контейнеру
   // margin-left: -5px;
   margin-right: rem(-4);

   // ? Двигаем на половину от разницы между width для .burger и width для .burger__wrapper что бы .burger прилип к контейнеру
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.3s ease;
   cursor: pointer;
   &:hover {
      transform: scale(1.2);
   }
   @media (min-width: 1050px) {
      display: none;
   }
   // todo Если нужно изменить цвет бургера при наведении
   &:hover .burger__wrapper {
      span,
      &:before,
      &:after {
         @extend %grad-bg;
      }
   }
   &__wrapper {
      width: 16px; // todo Макетная ширина бургера
      height: 12px; // todo Макетная высота бургера
      position: relative;
      display: flex;
      flex-direction: column;
      span,
      &:before,
      &:after {
         // width: 100%;
         height: 2px;
         background: linear-gradient(to right, #fff 0%, #fff 100%);
         transition: all 0.3s ease;
         transform: translate(0, 0);
         position: relative;
         left: 0;
         border-radius: 1px;
         margin-left: auto;
      }
      &:before {
         content: "";
         width: 50%;
         top: 0;
         transform: translate(0, -50%);
      }
      &:after {
         content: "";
         width: 75%;
         top: 100%;
         transform: translate(0, -250%);
      }
      span {
         top: 50%;
         transform: translate(0, -150%);
         width: 100%;
         transition: all 0.3s ease;
      }
   }
   &.active {
      // Opening burger animation
      .burger__wrapper {
         span,
         &:before,
         &:after {
            @extend %grad-bg;
         }
         &:before {
            width: 30%;
         }
         &:after {
            width: 100%;
         }
         span {
            width: 65%;
         }
      }
   }
}
