body.lock {
   overflow: hidden;
   &:before {
      display: none;
   }
}

body {
   font-family: $ff1;
   @include fz(16);
   font-weight: 400;
   background-color: $darkColor;
}
[class*="__container"] {
   padding-left: percent(15, 375);
   padding-right: percent(15, 375);
   @media (min-width: 1250px) {
      padding-left: percent(165, 1440);
      padding-right: percent(165, 1440);
   }
}
.wrapper {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   min-height: 100vh;
}
main {
   flex: 1 1 auto;
}
.image {
   transition: all 0.3s ease;
   overflow: hidden;
   position: relative;
   padding-bottom: 100%;
   width: 100%;
   img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
   &.hv {
      &:hover {
         img {
            transform: scale(1.2);
         }
      }
   }
}
