h1 {
   font-weight: 700;
   @include fl(36, 40);
   @media (min-width: 1200px) {
      @include fl(64, 65);
   }
}
h2 {
   font-weight: 700;
   @include fl(26, 34);
   @media (min-width: 1200px) {
      @include fl(36, 49.5);
   }
   &.mobile {
      @include fl(26, 34);
      @media (min-width: 1200px) {
      }
   }
}
h3 {
   font-weight: 700;
   @include fl(18, 26);
   @media (min-width: 1200px) {
      @include fl(20, 30);
   }
}
h4 {
   font-weight: 700;
   @include fl(22, 33.5);
   @media (min-width: 1200px) {
      @include fz(26);
   }
}
// .caption
h6 {
   background: linear-gradient(94.78deg, #68c9ff 9.27%, #d1b5ff 84.06%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   display: inline-block;
   text-transform: uppercase;
   letter-spacing: 0.1em;
   font-weight: 700;
   @include fl(14, 26.5);
   @media (min-width: 1200px) {
      @include fz(18);
   }
}
// .body
.content-text {
   @include fl(15, 24);
   @media (min-width: 1200px) {
      @include fl(16, 28);
   }
}
// .body-s
.content-text-small {
   @include fl(12, 20);
   @media (min-width: 1200px) {
      @include fl(14, 21);
   }
}
// .14 bold
.label {
   font-weight: 700;
   @include fl(14, 20);
   color: $darkColor;
}
