body.admin-owner {
   main {
      display: flex;
      flex-direction: column;
      @media (min-width: 1000px) {
         flex-direction: row;
      }
   }
   section {
      display: none;
      &.active {
         display: block;
         flex: 1 1 auto;
         background-color: #212426;
         @media (min-width: 1000px) {
            border-radius: 32px 0px 0px 0px;
         }
      }
   }
}
