body.catalog {
    .stroke-text {
        left: percent(-38, 1440);
        &:nth-child(2) {
            right: percent(-28, 1440);
            left: unset;
        }
    }

    .gallery {
        background: $darkColor;
        color: #fff;
        padding: 26px 0 38px;
        position: relative;
        overflow: hidden;
        i {
           position: absolute;
           left: percent(356, 375);
           font-size: 36px;
        }
        &__title {
           margin-bottom: 16px;
           text-align: center;
        }
        &__text {
           margin-bottom: 48px;
           text-align: center;
        }
        &__inner {
           display: grid;
           grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
           justify-content: center;
           justify-content: stretch;
           gap: 19px;
           @media (min-width: 630px) {
              grid-auto-flow: dense;
           }
           @media (min-width: 800px) {
              .none {
                 display: block;
              }
           }
           @media (min-width: 1200px) {
              column-gap: 29px;
              row-gap: 24px;
           }
           @media (min-width: 1600px) {
              grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
           }
        }
    }
}
