body.forum {
   // ===================================================================================
   // Hero === Hero === Hero === Hero == Hero == Hero === Hero === Hero === Hero === Hero
   // ===================================================================================
   .hero {
      position: relative;
      overflow: hidden;
      @media (max-width: 769px) {
         margin-top: 8px;
      }
      &__background {
         height: 317px;
         width: 100%;
         position: absolute;
         top: 0;
         left: 0;
         z-index: -1;
         overflow: hidden;
         &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translate(0, 0);
            background: linear-gradient(0deg, rgba(42, 32, 161, 0.57), rgba(42, 32, 161, 0.57));
            filter: brightness(0.9);
         }
         img {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            @media (min-width: 769px) {
               width: 100%;
               height: 100%;
            }
         }
      }
      &__container {
         padding-top: 35px;
         @media (max-width: 768px) {
            padding-right: 0;
         }
         @media (min-width: 769px) {
            padding-top: 45px;
         }
         @media (min-width: 1200px) {
            padding-top: 52px;
         }
      }
      &__title {
         color: #ffffff;
         margin-bottom: 3px;
         padding-left: 2px;
         @media (min-width: 1000px) {
            margin-bottom: 5px;
         }
      }
      &__subtitle {
         display: flex;
         align-items: center;
         padding-left: 3px;
         margin-bottom: 25px;
         @media (min-width: 1200px) {
            margin-bottom: 23px;
         }
         i {
            margin-right: 7px;
            @include fl(16);
            color: #ffffff;
            @media (min-width: 760px) {
               @include fl(18);
            }
            @media (min-width: 1000px) {
               @include fl(21);
            }
            @media (min-width: 1200px) {
               @include fl(23.28);
               margin-right: 12px;
            }
         }
         h3 {
            color: #ffffff;
         }
      }
   }
   // ===================================================================================
   // Comments === Comments === Comments === Comments == Comments == Comments == Comments
   // ===================================================================================
   .comments {
      // .comments__container
      &__container {
         padding-top: 16px;
         @media (min-width: 769px) {
            padding-top: 30px;
            display: flex;
            align-items: flex-start;
            column-gap: 20px;
         }
         @media (min-width: 1200px) {
            padding-top: 56px;
            padding-right: percent(150, 1440);
            column-gap: 30px;
         }
      }

      // .comments__cards
      &__cards {
         @media (min-width: 769px) {
            order: 2;
            min-width: 365px;
            max-width: 365px;
         }
         input,
         textarea {
            background-color: #2c2f33;
            margin-bottom: 16px;
         }
         textarea {
            height: 196px;
         }
         .btn {
            @include fl(18, 26.5);
            min-height: 56px;
            border-radius: 12px;
            a {
               letter-spacing: 0.04em;
               transform: translate(4px, -1px);
               @media (min-width: 769px) {
                  letter-spacing: -0.057em;
                  transform: translate(1px, -1px);
               }
            }
            @media (min-width: 1200px) {
               @include fl(18, 26.5);
               max-height: 56px;
            }
         }
      }
      &__body {
         @media (max-width: 768px) {
            padding-top: 16px;
         }
         @media (min-width: 769px) {
            order: 1;
            flex: 1 1 auto;
         }
      }
      // .comments__card
      &__card {
         background-color: #212426;
         border-radius: 12px;
         overflow: hidden;
         padding-top: 17px;
         padding-bottom: 17px;
         padding-left: 19px;
         padding-right: 18px;
         @media (min-width: 769px) {
            padding-top: 16px;
            padding-bottom: 24px;
            padding-left: 29px;
            padding-right: 28px;
         }
      }

      // .comments__label
      &__label {
         margin-bottom: -8px;
         @media (min-width: 769px) {
            margin-bottom: -3px;
         }
      }

      // .comments__title
      &__title {
         margin-bottom: 12px;
         color: #fcffff;
         @media (min-width: 769px) {
            margin-bottom: 15px;
         }
      }
      &__statistics {
         @media (max-width: 768px) {
            display: none;
         }
         @media (min-width: 769px) {
            margin-top: 18px;
            background-color: #212426;
            border-radius: 12px;
            padding-top: 27px;
            padding-bottom: 29px;
            padding-left: 32px;
            padding-right: 38px;
         }
      }
      &__stats {
         display: flex;
         align-items: center;
         margin-bottom: 19px;
         h6 {
            transform: translate(-2px, -2px);
         }
      }
      &__icon {
         padding: 12.33px;
         margin-right: 13px;
         border-radius: 12px;
         display: flex;
         justify-content: center;
         align-items: center;
         background: linear-gradient(94.78deg, rgba(104, 201, 255, 0.1) 9.27%, rgba(209, 181, 255, 0.1) 84.06%);
      }

      // .comments__stat-items
      &__stat-items {
         display: grid;
         grid-template-columns: 1fr 1fr;
         column-gap: 28px;
         row-gap: 28px;
      }

      // .comments__stat-title
      &__stat-title {
         color: #c8d2dc;
         &_1 {
            transform: translate(-1px, -1px);
         }
         &_2 {
            transform: translate(-1px, -1px);
         }
      }

      // .comments__stat-h2
      &__stat-h2 {
         color: #fcffff;
      }

      // .comments__search
      &__search {
         display: flex;
         align-items: center;
         height: 64px;
         background-color: #212426;
         border: 1px solid #525960;
         border-radius: 12px;
         overflow: hidden;
         padding-top: 8px;
         padding-bottom: 8px;
         padding-right: 9px;
         padding-left: 23px;
         margin-bottom: 16px;
         i {
            @include fl(18.71);
         }
         input {
            flex: 1 1 auto;
            min-width: 120px;
            border-radius: 9px;
            background-color: #212426;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 18px;
            padding-right: 16px;
            @include fl(15, 19);
            transform: translate(-1px, 0px);

            color: #c8d2dc;
            &::placeholder {
               opacity: 0.6;
            }
         }
         .btn {
            margin-left: auto;
            width: 88px;
            min-width: 88px;
            height: 48px;
            min-height: 48px;
            a {
               transform: translate(1px, 0);
               letter-spacing: -0.03em;
               @media (min-width: 1200px) {
                  @include fl(14, 20);
                  transform: translate(-2px, 0);
               }
            }
         }
      }
      &__items {
         display: grid;
         row-gap: 16px;
         margin-bottom: 48px;
         @media (min-width: 1000px) {
            margin-bottom: 39px;
         }
      }
   }
}
