body.pricing {
    .pricing {
        position: relative;
        padding: 36px 0 12px;
        overflow: hidden;
        @media (min-width: 500px) {
            padding-bottom: 35px;
        }
        @media (min-width:1200px) {
            padding-top: 62px;
            padding-bottom: 43px;
        }
        &__decor {
            .stroke-text  {
                display: none;
                @media (min-width: 768px) {
                    display: block;
                    top: 86px;
                    &:nth-of-type(1) {
                        left: percent(-38, 800);
                    }
                    &:nth-of-type(2) {
                        right: percent(-27, 800);
                    }
                }
                @media (min-width: 1200px) {
                    top: 94px;
                    &:nth-of-type(1) {
                        left: percent(-38, 1440);
                    }
                    &:nth-of-type(2) {
                        right: percent(-27, 1440);
                        transform: translateX(-1px);
                        letter-spacing: -0.012em;
                    }
                }
            }
            .star-decor {
                font-size: 62px;
                position: absolute;
                right: 0;
                top: 14px;
                @media (min-width:800px) {
                    left: 35%;
                }
                @media (min-width:1200px) {
                    top: 49px;
                    left: percent(390, 1440);
                }
            }
        }
        &__circle {
            display: block;
            width: 25px;
            height: 25px;
            border-radius: 100%;
            border: 1px solid #FCFFFF;
            opacity: 0.4;
            position: absolute;
            right: 34px;
            top: 155px;
            @media (min-width: 1200px) {
                top: 194px;
                right: percent(352, 1440);
            }
        }
        .hello-h1 {
            @media (min-width: 1200px) {
                margin-bottom: 75px;
            }
            &__title {
                max-width: 271px;
                margin-bottom: 17px;
                transform: translateX(3px);
                @media (min-width: 768px) {
                    max-width: percent(469, 800);
                    text-align: center;
                    margin: 0 auto 17px;
                }
                @media (min-width: 1200px) {
                    max-width: percent(569, 1110);
                    transform: translateX(1px);
                }
            }
            &__text {
                max-width: 277px;
                margin-bottom: 13px;
                @media (min-width:768px) {
                    max-width: percent(380, 800);
                    text-align: center;
                    margin: 0 auto 13px;
                }
                @media (min-width: 1200px) {
                    max-width: percent(415, 1110);
                }
            }
        }
        .tabs__nav {
            margin-bottom: 9px;
            :nth-of-type(1) {
                transform: translateX(0px);
            }
            @media (min-width: 500px) {
                max-width: 450px;
                margin: 0 auto 20px;
            }
            @media (min-width: 1200px) {
                display: none;
            }
        }
        .tabs__item {
            @media (min-width:1200px) {
                display: block;
                max-width: 350px;
                width: 100%;
                &:nth-child(2) {
                    order: 2;
                }
            }
        }
        .tabs__content {
            @media (min-width:1200px) {
                max-width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
        .background {
            &__image {
                position: absolute;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                &_1 {
                    display: none;
                    width: percent(36, 375);
                    padding-bottom: percent(36, 375);
                    img {
                       filter: brightness(0.9) hue-rotate(202deg);
                    }
                    @media (min-width: 1200px) {
                        display: block;
                        padding-bottom: percent(340, 1440);
                        width: percent(340, 1440);
                        transform: rotate(75deg);
                        left: percent(-118, 1440);
                        top: 157px;
                    }
                }
                &_2 {
                    display: none;
                    width: percent(36, 375);
                    padding-bottom: percent(36, 375);
                    img {
                       filter: brightness(0.8) blur(4px) hue-rotate(158deg);
                    }
                    @media (min-width: 1200px) {
                        display: block;
                        right: percent(304, 1440);
                        top: percent(52, 1440);
                        width: percent(145, 1440);
                        padding-bottom: percent(145, 1440);
                        filter: brightness(0.6) blur(6px);
                    }
                }
                &_3 {
                    width: percent(75, 375);
                    padding-bottom: percent(75,375);
                    right: percent(-24, 375);
                    top: 81px;
                    img {
                       filter: brightness(0.7) blur(4px);
                    }
                    @media (min-width: 1200px) {
                        width: percent(267, 1440);
                        padding-bottom: percent(267, 1440);
                        top: percent(214, 1440);
                        right: percent(-82, 1440);
                        img {
                            filter: brightness(0.7) blur(3px);
                         }
                    }
                }
            }
        }
    }
}



  