body.pricing {
    .pricing {
        position: relative;
        padding: 36px 0 12px;
        overflow: hidden;
        @media (min-width: 500px) {
            padding-bottom: 35px;
        }
        @media (min-width:1200px) {
            padding-top: 62px;
            padding-bottom: 43px;
        }
        &__decor {
            .stroke-text  {
                display: none;
                @media (min-width: 768px) {
                    display: block;
                    top: 86px;
                    &:nth-of-type(1) {
                        left: percent(-38, 800);
                    }
                    &:nth-of-type(2) {
                        right: percent(-27, 800);
                    }
                }
                @media (min-width: 1200px) {
                    top: 94px;
                    &:nth-of-type(1) {
                        left: percent(-38, 1440);
                    }
                    &:nth-of-type(2) {
                        right: percent(-27, 1440);
                    }
                }
            }
            .star-decor {
                font-size: 62px;
                position: absolute;
                right: 0;
                top: 14px;
                @media (min-width:800px) {
                    left: 35%;
                }
                @media (min-width:1200px) {
                    top: 49px;
                    left: percent(390, 1440);
                }
            }
        }
        &__circle {
            display: block;
            width: 25px;
            height: 25px;
            border-radius: 100%;
            border: 1px solid #FCFFFF;
            opacity: 0.4;
            position: absolute;
            right: 34px;
            top: 155px;
            @media (min-width: 1200px) {
                top: 194px;
                right: percent(352, 1440);
            }
        }
        .hello-h1 {
            @media (min-width: 1200px) {
                margin-bottom: 75px;
            }
            &__title {
                max-width: 271px;
                margin-bottom: 17px;
                transform: translateX(3px);
                @media (min-width: 768px) {
                    max-width: percent(469, 800);
                    text-align: center;
                    margin: 0 auto 17px;
                }
                @media (min-width: 1200px) {
                    max-width: percent(569, 1110);
                    transform: translateX(1px);
                }
            }
            &__text {
                max-width: 277px;
                margin-bottom: 13px;
                @media (min-width:768px) {
                    max-width: percent(380, 800);
                    text-align: center;
                    margin: 0 auto 13px;
                }
                @media (min-width: 1200px) {
                    max-width: percent(415, 1110);
                }
            }
        }
        .tabs__nav {
            margin-bottom: 9px;
            :nth-of-type(1) {
                transform: translateX(0px);
            }
            @media (min-width: 500px) {
                max-width: 450px;
                margin: 0 auto 20px;
            }
            @media (min-width: 1200px) {
                display: none;
            }
        }
        .tabs__item {
            @media (min-width:1200px) {
                display: block;
                max-width: 350px;
                width: 100%;
                &:nth-child(2) {
                    order: 2;
                }
            }
        }
        .tabs__content {
            @media (min-width:1200px) {
                max-width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
    .background {
        &__image {
            position: absolute;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            &_1 {
                display: none;
                width: percent(36, 375);
                padding-bottom: percent(36, 375);
                img {
                   filter: brightness(0.9) hue-rotate(202deg);
                }
                @media (min-width: 1200px) {
                    display: block;
                    padding-bottom: percent(340, 1440);
                    width: percent(340, 1440);
                    transform: rotate(75deg);
                    left: percent(-118, 1440);
                    top: 157px;
                }
            }
            &_2 {
                display: none;
                width: percent(36, 375);
                padding-bottom: percent(36, 375);
                img {
                   filter: brightness(0.8) blur(4px) hue-rotate(158deg);
                }
                @media (min-width: 1200px) {
                    display: block;
                    right: percent(304, 1440);
                    top: percent(52, 1440);
                    width: percent(145, 1440);
                    padding-bottom: percent(145, 1440);
                    filter: brightness(0.6) blur(6px);
                }
            }
            &_3 {
                width: percent(75, 375);
                padding-bottom: percent(75,375);
                right: percent(-24, 375);
                top: 81px;
                img {
                   filter: brightness(0.7) blur(4px);
                }
                @media (min-width: 1200px) {
                    width: percent(267, 1440);
                    padding-bottom: percent(267, 1440);
                    top: percent(214, 1440);
                    right: percent(-82, 1440);
                    img {
                        filter: brightness(0.7) blur(3px);
                     }
                }
            }
        }
    }
    .premium-card {
        background: #212426;
        border-radius: 12px;
        border: 5px solid transparent;
        transition: all 0.3s ease;
        max-width: percent(345, 345);
        @media (min-width: 500px) {
            max-width: 350px;
            margin: 0 auto;
        }
        
        &:hover {
            background: linear-gradient(94.78deg, #31FFF3 9.27%, #AD7AFF 84.06%) padding-box,
              linear-gradient(94.78deg, #31FFF3 9.27%, #AD7AFF 84.06%) border-box;
            .premium-card__heading {
                background: linear-gradient(94.78deg, #00ADC5 9.27%, #AD7AFF 84.06%);
                color: #FCFFFF;
            }
            .premium-card__btn {
                background: #1D1F21;
                button {
                    background: linear-gradient(94.78deg, #31FFF3 9.27%, #AD7AFF 84.06%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                }
            }
            @media (min-width:1200px) {
                transform: translateY(-40px);
            }
        }
        &__body {
            background: #212426;
            border-radius: 12px;
            position: relative;
            padding-bottom: 32px;
            overflow: hidden;
            @media (min-width: 1200px) {
                padding-bottom: 27px;
            }
            &::before {
                content: '';
                position: absolute;
                width: 273px;
                height: 227px;
                top: 0px;
                left: -46px;
                background: radial-gradient(45% 45% at 50% 50%, rgba(53, 207, 255, 1) -100%, rgba(28, 54, 63, 0) 100%);
            }
            .stroke-text {
                top: 13px;
                left: 51%;
                transform: translateX(-50%);
                @include fl(80,97);
                @media (min-width: 1200px) {
                    top: 12px;
                    left: 49.7%;
                }
            }
            &--first {
                @media(min-width: 1200px) {
                    .premium-card__list {
                        transform: translate(-4px, -3px);
                    }
                }
            }
            &--second {
                &::before {
                    background:  radial-gradient(45% 45% at 50% 50%, rgba(109, 55, 255, 1) -100%, rgba(28, 54, 63, 0) 100%);
                }
                .stroke-text {
                    left: 54%;
                    @media (min-width: 1200px) {
                        left: 53.4%;
                        top: 12px;
                    }
                }
                .premium-card__heading {
                    transform: translate(10px, -3px);
                    margin-bottom: 45px;
                    @media (min-width: 1200px) {
                        transform: translate(6px,-6px);
                    }
                }
                @media(min-width:1200px) {
                    .premium-card__list {
                        transform: translate(-2px, -3px);
                    }
                }
                
                
            }
            &--third {
                &::before {
                    background: radial-gradient(45% 45% at 50% 50%, rgba(78, 149, 245, 1) -100%, rgba(28, 54, 63, 0) 100%);
                }
                .stroke-text {
                    left: 50%;
                }
                .premium-card__heading {
                    top: -9px;
                    margin-bottom: 18px;
                    @media (min-width: 1200px) {
                        transform: translate(5px, -4px);
                    }
                }
                @media(min-width:1200px) {
                    .premium-card__list {
                        transform: translate(-3px, -3px);
                    }
                }
            }
        }
        &__image {
            position: relative;
            width: 100%;
            transition: .3s;
            overflow: hidden;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                object-fit: contain;
            }
            &--first {
                max-width: percent(97, 335);
                padding-bottom: 39.712%;
                top: 46px;
                left: 40px;
                @media (min-width: 1200px) {
                    top: 44px;
                    left: 38px;
                }
            }
            &--second {
                max-width: percent(141, 335.2);
                padding-bottom: 40.51%;
                top: 47px;
                left: 18px;
                @media (min-width: 1200px) {
                    top: 45px;
                }
            }
            &--third {
                max-width: percent(130, 335);
                padding-bottom: 48.41%;
                top: 30px;
                left: 21px;
                @media (min-width: 1200px) {
                    top: 28px;
                    left: 20px;
                }
            }
        }
        &__heading {
            position: relative;
            top: 20px;
            z-index: 1;
            max-width: 275px;
            min-height: 80px;
            background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
            border-radius: 8px 0px 0px 8px;
            padding: 15px 25px 11px;
            margin-left: auto;
            margin-bottom: 47px;
            transition: all 0.3s ease;
            transform: translateX(10px);
            @media (min-width: 1200px) {
                transform: translate(4px, -3px);
            }
        }
        &__title {
            @include fl(26, 34);
            font-weight: 700;
        }
        &__subtitle {
            @include fl(14,21);
            opacity: 0.7;
            transform: translateY(-3px);
        }
        &__list {
            max-width: 294px;
            margin: 0 auto;
            transform: translate(-2px, -3px);
            @media (min-width: 1200px) {
                transform: translate(-1px, -3px);
            }
        }
        &__item {
            display: flex;
            align-items: center;
            gap: 16px;
            &:not(:last-child) {
                padding-bottom: 9px;
                margin-bottom: 10px;
                border-bottom: 1px solid #525960;
            }
            i {
                @include fz(24);
                background: -webkit-linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transform: translateX(2px);
            }
        }
        &__text {
            color: #C8D2DC;
            @include fl(14, 21);
            max-width: 230px;
            transform: translateX(2px);
        }
        &__footer {
            background: transparent;
            width: 100%;
            padding: 14px 26px 18px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @media (min-width: 1200px) {
                transform: translate(1px, 2px);
            }
        }
        &__btn {
            max-width: 177px;
            width: 100%;
            min-height: 56px;
            width: 100%;
            background: linear-gradient(94.78deg, #68C9FF 9.27%, #D1B5FF 84.06%);
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease;
            transform: translate(-5px, -2px);
            button {
                width: 100%;
                font-weight: 700;
                @include fl(18,26);
                transition: all 0.3s ease;
            }
        }
        &__price {
            color: #FCFFFF;
            font-weight: 700;
            @include fl(22, 34);
            @media (min-width: 1200px) {
                transform: translateX(-7px);
            }
        }
    }  
}



  