<div class="chat">
	<div class="chat__top">
		<div class="chat__title">
			<svg width="14" height="12" viewBox="0 0 14 12" fill="none"
				xmlns="http://www.w3.org/2000/svg">
				<path d="M13 6L1 6" stroke="#FCFFFF" stroke-width="1.5" stroke-linecap="round"
					stroke-linejoin="round" />
				<path d="M6.25 11.25L1 6L6.25 0.75" stroke="#FCFFFF" stroke-width="1.5"
					stroke-linecap="round" stroke-linejoin="round" />
			</svg>
			<h3>Chat with Ivan Ivanov</h3>
		</div>
		<div class="chat__preview">
			<div class="chat__photo">
				<picture>
					<source type='image/webp' srcset='@img/photo/02.webp'>
					<img src='@img/photo/02.jpg' alt='personal photo'>
				</picture>
			</div>
			<div class="chat__preview-text">
				<p class="chat__name">Ivan Ivanov</p>
				<p class="chat__was">Was online 10 min ago</p>
			</div>
		</div>
	</div>
	<div class="chat__body">
		<!-- <div class='chat__image'>
			<picture>
				<source type='image/webp' srcset='@img/gallery/14.webp'>
				<img src='@img/gallery/14.jpg' alt='personal photo'>
			</picture>
		</div>
		<div class="chat__message chat__message_sender">
			<p>
				Lorem ipsum dolor sit amet
			</p>
		</div>
		<p class="chat__separator">New messages</p>
		<div class="chat__message chat__message_reciever">
			<div class='chat__image'>
				<picture>
					<source type='image/webp' srcset='@img/gallery/14.webp'>
					<img src='@img/gallery/14.jpg' alt='personal photo'>
				</picture>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
				incididunt ut labore
				et dolore magna aliqua. Ut enim ad minim veniam</p>
		</div> -->
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quibusdam a voluptates
		accusantium nulla omnis aut doloribus, provident commodi sapiente.

	</div>

</div>