<div class="nft-orders">
	<div class="nft-orders__cntr">
		<h3 class="nft-orders__title">My NFT orders</h3>
		<div class="nft-orders__heading">
			<p class="nft-orders__heading-name">Name of product</p>
			<p class="nft-orders__heading-crypto">Crypto</p>
			<p class="nft-orders__heading-status">Status</p>
			<p class="nft-orders__heading-price">Price</p>
			<p class="nft-orders__heading-date ">Date</p>
		</div>
		<div class="nft-orders__items">
			<div class="nft-orders__item">
				<div class="nft-orders__name">
					<div class="nft-orders__picture">
						@@include('../blocks/_paint-block.html', {
						'modify': 'blue'
						})
					</div>
					<div class="nft-orders__name-content">
						<!-- <p>NFT #9238239</p> -->
						<p>Name of NFT</p>
						<p>12, June 14:00</p>
					</div>
				</div>
				<div class="nft-orders__crypto">
					<p>Crypto</p>
					<div class="nft-orders__crypto-content">
						<p>EQBSSl0Xlo3...kkHTmFw5YVYOiWJ. </p>
						<i class="copy"></i>
					</div>
				</div>
				<div class="nft-orders__status">
					<p>Success</p>
				</div>
				<div class="nft-orders__price">
					<p>Price</p>
					<p>$100 322</p>
				</div>
				<div class="nft-orders__date">
					<p>12, June 14:00</p>
				</div>
			</div>
			<div class="nft-orders__item">
				<div class="nft-orders__name">
					<div class="nft-orders__picture">
						@@include('../blocks/_paint-block.html', {
						'modify': 'blue'
						})
					</div>
					<div class="nft-orders__name-content">
						<!-- <p>NFT #9238239</p> -->
						<p>Name of NFT</p>
						<p>12, June 14:00</p>
					</div>
				</div>
				<div class="nft-orders__crypto">
					<p>Crypto</p>
					<div class="nft-orders__crypto-content">
						<p>EQBSSl0Xlo3...kkHTmFw5YVYOiWJ. </p>
						<i class="copy"></i>
					</div>
				</div>
				<div class="nft-orders__status">
					<p>Success</p>
				</div>
				<div class="nft-orders__price">
					<p>Price</p>
					<p>$100 322</p>
				</div>
				<div class="nft-orders__date">
					<p>12, June 14:00</p>
				</div>
			</div>
			<div class="nft-orders__item">
				<div class="nft-orders__name">
					<div class="nft-orders__picture">
						@@include('../blocks/_paint-block.html', {
						'modify': 'blue'
						})
					</div>
					<div class="nft-orders__name-content">
						<!-- <p>NFT #9238239</p> -->
						<p>Name of NFT</p>
						<p>12, June 14:00</p>
					</div>
				</div>
				<div class="nft-orders__crypto">
					<p>Crypto</p>
					<div class="nft-orders__crypto-content">
						<p>EQBSSl0Xlo3...kkHTmFw5YVYOiWJ. </p>
						<i class="copy"></i>
					</div>
				</div>
				<div class="nft-orders__status">
					<p>Success</p>
				</div>
				<div class="nft-orders__price">
					<p>Price</p>
					<p>$100 322</p>
				</div>
				<div class="nft-orders__date">
					<p>12, June 14:00</p>
				</div>
			</div>
			<div class="nft-orders__item">
				<div class="nft-orders__name">
					<div class="nft-orders__picture">
						@@include('../blocks/_paint-block.html', {
						'modify': 'blue'
						})
					</div>
					<div class="nft-orders__name-content">
						<!-- <p>NFT #9238239</p> -->
						<p>Name of NFT</p>
						<p>12, June 14:00</p>
					</div>
				</div>
				<div class="nft-orders__crypto">
					<p>Crypto</p>
					<div class="nft-orders__crypto-content">
						<p>EQBSSl0Xlo3...kkHTmFw5YVYOiWJ. </p>
						<i class="copy"></i>
					</div>
				</div>
				<div class="nft-orders__status">
					<p>Success</p>
				</div>
				<div class="nft-orders__price">
					<p>Price</p>
					<p>$100 322</p>
				</div>
				<div class="nft-orders__date">
					<p>12, June 14:00</p>
				</div>
			</div>
		</div>
	</div>
</div>