<div class="orders">
	<div class="orders__cntr">
		<h3 class="orders__title">My orders</h3>
		<div class="orders__heading">
			<p class="orders__heading-type">Type of item</p>
			<p class="orders__heading-color">Color</p>
			<p class="orders__heading-email">E-mail</p>
			<p class="orders__heading-size">Size</p>
			<p class="orders__heading-comment">Comment</p>
			<p class="orders__heading-address">Delivery address</p>
			<p class="orders__heading-status">Status</p>
			<p class="orders__heading-action">Action</p>
		</div>
		<div class="orders__items">
			<div class="orders__item">
				<div class="orders__type">T-SHIRT</div>
				<div class="orders__color"><span></span></div>
				<div class="orders__email">emailofcustomer@gmail.com</div>
				<div class="orders__size">
					<p>Size</p>
					<p>XL (99-99-99)</p>
				</div>
				<div class="orders__comment">
					<p>Comment</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
				</div>
				<div class="orders__address">
					<p>Delivery address</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
				</div>
				<div class="orders__status">
					<p>Status</p>
					<p>Success</p>
				</div>
				<div class="orders__action">Message</div>
			</div>
			<div class="orders__item">
				<div class="orders__type">T-SHIRT</div>
				<div class="orders__color"><span></span></div>
				<div class="orders__email">emailofcustomer@gmail.com</div>
				<div class="orders__size">
					<p>Size</p>
					<p>XL (99-99-99)</p>
				</div>
				<div class="orders__comment">
					<p>Comment</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
				</div>
				<div class="orders__address">
					<p>Delivery address</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
				</div>
				<div class="orders__status">
					<p>Status</p>
					<p>Success</p>
				</div>
				<div class="orders__action">Message</div>
			</div>
			<div class="orders__item">
				<div class="orders__type">T-SHIRT</div>
				<div class="orders__color"><span></span></div>
				<div class="orders__email">emailofcustomer@gmail.com</div>
				<div class="orders__size">
					<p>Size</p>
					<p>XL (99-99-99)</p>
				</div>
				<div class="orders__comment">
					<p>Comment</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
				</div>
				<div class="orders__address">
					<p>Delivery address</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
				</div>
				<div class="orders__status">
					<p>Status</p>
					<p>Success</p>
				</div>
				<div class="orders__action">Message</div>
			</div>
			<div class="orders__item">
				<div class="orders__type">T-SHIRT</div>
				<div class="orders__color"><span></span></div>
				<div class="orders__email">emailofcustomer@gmail.com</div>
				<div class="orders__size">
					<p>Size</p>
					<p>XL (99-99-99)</p>
				</div>
				<div class="orders__comment">
					<p>Comment</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
				</div>
				<div class="orders__address">
					<p>Delivery address</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
				</div>
				<div class="orders__status">
					<p>Status</p>
					<p>Success</p>
				</div>
				<div class="orders__action">Message</div>
			</div>
			<div class="orders__item">
				<div class="orders__type">T-SHIRT</div>
				<div class="orders__color"><span></span></div>
				<div class="orders__email">emailofcustomer@gmail.com</div>
				<div class="orders__size">
					<p>Size</p>
					<p>XL (99-99-99)</p>
				</div>
				<div class="orders__comment">
					<p>Comment</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
				</div>
				<div class="orders__address">
					<p>Delivery address</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
				</div>
				<div class="orders__status">
					<p>Status</p>
					<p>Success</p>
				</div>
				<div class="orders__action">Message</div>
			</div>
			<div class="orders__item">
				<div class="orders__type">T-SHIRT</div>
				<div class="orders__color"><span></span></div>
				<div class="orders__email">emailofcustomer@gmail.com</div>
				<div class="orders__size">
					<p>Size</p>
					<p>XL (99-99-99)</p>
				</div>
				<div class="orders__comment">
					<p>Comment</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
				</div>
				<div class="orders__address">
					<p>Delivery address</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
				</div>
				<div class="orders__status">
					<p>Status</p>
					<p>Success</p>
				</div>
				<div class="orders__action">Message</div>
			</div>
			<div class="orders__item">
				<div class="orders__type">T-SHIRT</div>
				<div class="orders__color"><span></span></div>
				<div class="orders__email">emailofcustomer@gmail.com</div>
				<div class="orders__size">
					<p>Size</p>
					<p>XL (99-99-99)</p>
				</div>
				<div class="orders__comment">
					<p>Comment</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
				</div>
				<div class="orders__address">
					<p>Delivery address</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
				</div>
				<div class="orders__status">
					<p>Status</p>
					<p>Success</p>
				</div>
				<div class="orders__action">Message</div>
			</div>
			<div class="orders__item">
				<div class="orders__type">T-SHIRT</div>
				<div class="orders__color"><span></span></div>
				<div class="orders__email">emailofcustomer@gmail.com</div>
				<div class="orders__size">
					<p>Size</p>
					<p>XL (99-99-99)</p>
				</div>
				<div class="orders__comment">
					<p>Comment</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
				</div>
				<div class="orders__address">
					<p>Delivery address</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
				</div>
				<div class="orders__status">
					<p>Status</p>
					<p>Success</p>
				</div>
				<div class="orders__action">Message</div>
			</div>
			<div class="orders__item">
				<div class="orders__type">T-SHIRT</div>
				<div class="orders__color"><span></span></div>
				<div class="orders__email">emailofcustomer@gmail.com</div>
				<div class="orders__size">
					<p>Size</p>
					<p>XL (99-99-99)</p>
				</div>
				<div class="orders__comment">
					<p>Comment</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
				</div>
				<div class="orders__address">
					<p>Delivery address</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
				</div>
				<div class="orders__status">
					<p>Status</p>
					<p>Success</p>
				</div>
				<div class="orders__action">Message</div>
			</div>
			<div class="orders__item">
				<div class="orders__type">T-SHIRT</div>
				<div class="orders__color"><span></span></div>
				<div class="orders__email">emailofcustomer@gmail.com</div>
				<div class="orders__size">
					<p>Size</p>
					<p>XL (99-99-99)</p>
				</div>
				<div class="orders__comment">
					<p>Comment</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
				</div>
				<div class="orders__address">
					<p>Delivery address</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
				</div>
				<div class="orders__status">
					<p>Status</p>
					<p>Success</p>
				</div>
				<div class="orders__action">Message</div>
			</div>
			<div class="orders__item">
				<div class="orders__type">T-SHIRT</div>
				<div class="orders__color"><span></span></div>
				<div class="orders__email">emailofcustomer@gmail.com</div>
				<div class="orders__size">
					<p>Size</p>
					<p>XL (99-99-99)</p>
				</div>
				<div class="orders__comment">
					<p>Comment</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
				</div>
				<div class="orders__address">
					<p>Delivery address</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
				</div>
				<div class="orders__status">
					<p>Status</p>
					<p>Success</p>
				</div>
				<div class="orders__action">Message</div>
			</div>
		</div>
	</div>
</div>