<div class="orders">
	<div class="orders__cntr">
		@@if (context.stats) {
		<div class="statistics">
			<div class="statistics__cntr">
				<p class="statistics__label">Statistic</p>
				<div class="statistics__wrapper">
					<div class="statistics__statistics">
						<div class="statistics__stats statistics__stats_1">
							<p class="statistics__subtitle">$10 983,88</p>
							<p class="statistics__subtext">EARNED PER MONTH</p>
						</div>
						<div class="statistics__stats statistics__stats_2">
							<p class="statistics__subtitle">109</p>
							<p class="statistics__subtext">FINISHED ORDERS</p>
						</div>
					</div>
					<div class="statistics__graphic">
						<div class="statistics__content">
							<p class="statistics__title">Withdraw</p>
							<p class="statistics__text">Get money to card</p>
							<button class="statistics__button">Withdraw</button>
						</div>
						<div class='statistics__image'>
							<picture>
								<source type='image/webp' srcset='@img/gallery/15.webp'>
								<img src='@img/gallery/15.png' alt='statistics image'>
							</picture>
						</div>
					</div>
				</div>
			</div>
		</div>
		}
		<h3 class="orders__title">My orders</h3>
		<div class="orders__heading">
			<p class="orders__heading-type">Type of item</p>
			<p class="orders__heading-color">Color</p>
			<p class="orders__heading-email">E-mail</p>
			<p class="orders__heading-size">Size</p>
			<p class="orders__heading-comment">Comment</p>
			<p class="orders__heading-address">Delivery address</p>
			<p class="orders__heading-status">Status</p>
			<p class="orders__heading-action">Action</p>
		</div>
		<div class="orders__items">
			<div class="orders__item">
				<div class="orders__type">T-SHIRT</div>
				<div class="orders__color"><span></span></div>
				<div class="orders__email">emailofcustomer@gmail.com</div>
				<div class="orders__size">
					<p>Size</p>
					<p>XL (99-99-99)</p>
				</div>
				<div class="orders__comment">
					<p>Comment</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
					<button>Show more</button>
				</div>
				<div class="orders__address">
					<p>Delivery address</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
					<button>Show more</button>
				</div>
				<div class="orders__status">
					<p>Status</p>
					<p>Success</p>
				</div>
				<div class="orders__action">Message</div>
			</div>
			<div class="orders__item">
				<div class="orders__type">T-SHIRT</div>
				<div class="orders__color"><span></span></div>
				<div class="orders__email">emailofcustomer@gmail.com</div>
				<div class="orders__size">
					<p>Size</p>
					<p>XL (99-99-99)</p>
				</div>
				<div class="orders__comment">
					<p>Comment</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
					<button>Show more</button>
				</div>
				<div class="orders__address">
					<p>Delivery address</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
					<button>Show more</button>
				</div>
				<div class="orders__status">
					<p>Status</p>
					<p>Success</p>
				</div>
				<div class="orders__action">Message</div>
			</div>
			<div class="orders__item">
				<div class="orders__type">T-SHIRT</div>
				<div class="orders__color"><span></span></div>
				<div class="orders__email">emailofcustomer@gmail.com</div>
				<div class="orders__size">
					<p>Size</p>
					<p>XL (99-99-99)</p>
				</div>
				<div class="orders__comment">
					<p>Comment</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
					<button>Show more</button>
				</div>
				<div class="orders__address">
					<p>Delivery address</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
					<button>Show more</button>
				</div>
				<div class="orders__status">
					<p>Status</p>
					<p>Success</p>
				</div>
				<div class="orders__action">Message</div>
			</div>
			<div class="orders__item">
				<div class="orders__type">T-SHIRT</div>
				<div class="orders__color"><span></span></div>
				<div class="orders__email">emailofcustomer@gmail.com</div>
				<div class="orders__size">
					<p>Size</p>
					<p>XL (99-99-99)</p>
				</div>
				<div class="orders__comment">
					<p>Comment</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
					<button>Show more</button>
				</div>
				<div class="orders__address">
					<p>Delivery address</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
					<button>Show more</button>
				</div>
				<div class="orders__status">
					<p>Status</p>
					<p>Success</p>
				</div>
				<div class="orders__action">Message</div>
			</div>
			<div class="orders__item">
				<div class="orders__type">T-SHIRT</div>
				<div class="orders__color"><span></span></div>
				<div class="orders__email">emailofcustomer@gmail.com</div>
				<div class="orders__size">
					<p>Size</p>
					<p>XL (99-99-99)</p>
				</div>
				<div class="orders__comment">
					<p>Comment</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
					<button>Show more</button>
				</div>
				<div class="orders__address">
					<p>Delivery address</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
					<button>Show more</button>
				</div>
				<div class="orders__status">
					<p>Status</p>
					<p>Success</p>
				</div>
				<div class="orders__action">Message</div>
			</div>
			<div class="orders__item">
				<div class="orders__type">T-SHIRT</div>
				<div class="orders__color"><span></span></div>
				<div class="orders__email">emailofcustomer@gmail.com</div>
				<div class="orders__size">
					<p>Size</p>
					<p>XL (99-99-99)</p>
				</div>
				<div class="orders__comment">
					<p>Comment</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
					<button>Show more</button>
				</div>
				<div class="orders__address">
					<p>Delivery address</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
					<button>Show more</button>
				</div>
				<div class="orders__status">
					<p>Status</p>
					<p>Success</p>
				</div>
				<div class="orders__action">Message</div>
			</div>
			<div class="orders__item">
				<div class="orders__type">T-SHIRT</div>
				<div class="orders__color"><span></span></div>
				<div class="orders__email">emailofcustomer@gmail.com</div>
				<div class="orders__size">
					<p>Size</p>
					<p>XL (99-99-99)</p>
				</div>
				<div class="orders__comment">
					<p>Comment</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
					<button>Show more</button>
				</div>
				<div class="orders__address">
					<p>Delivery address</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
					<button>Show more</button>
				</div>
				<div class="orders__status">
					<p>Status</p>
					<p>Success</p>
				</div>
				<div class="orders__action">Message</div>
			</div>
			<div class="orders__item">
				<div class="orders__type">T-SHIRT</div>
				<div class="orders__color"><span></span></div>
				<div class="orders__email">emailofcustomer@gmail.com</div>
				<div class="orders__size">
					<p>Size</p>
					<p>XL (99-99-99)</p>
				</div>
				<div class="orders__comment">
					<p>Comment</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
					<button>Show more</button>
				</div>
				<div class="orders__address">
					<p>Delivery address</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
					<button>Show more</button>
				</div>
				<div class="orders__status">
					<p>Status</p>
					<p>Success</p>
				</div>
				<div class="orders__action">Message</div>
			</div>
			<div class="orders__item">
				<div class="orders__type">T-SHIRT</div>
				<div class="orders__color"><span></span></div>
				<div class="orders__email">emailofcustomer@gmail.com</div>
				<div class="orders__size">
					<p>Size</p>
					<p>XL (99-99-99)</p>
				</div>
				<div class="orders__comment">
					<p>Comment</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
					<button>Show more</button>
				</div>
				<div class="orders__address">
					<p>Delivery address</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
					<button>Show more</button>
				</div>
				<div class="orders__status">
					<p>Status</p>
					<p>Success</p>
				</div>
				<div class="orders__action">Message</div>
			</div>
			<div class="orders__item">
				<div class="orders__type">T-SHIRT</div>
				<div class="orders__color"><span></span></div>
				<div class="orders__email">emailofcustomer@gmail.com</div>
				<div class="orders__size">
					<p>Size</p>
					<p>XL (99-99-99)</p>
				</div>
				<div class="orders__comment">
					<p>Comment</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
					<button>Show more</button>
				</div>
				<div class="orders__address">
					<p>Delivery address</p>
					<p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</p>
					<button>Show more</button>
				</div>
				<div class="orders__status">
					<p>Status</p>
					<p>Success</p>
				</div>
				<div class="orders__action">Message</div>
			</div>

		</div>
	</div>
</div>