<div class="orders">
	<div class="orders__cntr">
		<h3 class="orders__title">My orders</h3>
		<div class="orders__heading">
			<p class="orders__heading-type">Type of item</p>
			<p class="orders__heading-color">Color</p>
			<p class="orders__heading-email">E-mail</p>
			<p class="orders__heading-size">Size</p>
			<p class="orders__heading-comment">Comment</p>
			<p class="orders__heading-address">Delivery address</p>
			<p class="orders__heading-status">Status</p>
			<p class="orders__heading-action">Action</p>
		</div>
		<div class="orders__items">
			<div class="orders__item">
				<p class="orders__type">T-SHIRT</p>
				<p class="orders__color"><span></span></p>
				<p class="orders__email">emailofcustomer@gmail.com</p>
				<p class="orders__size">XL (99-99-99)</p>
				<p class="orders__comment">Lorem ipsum dolor sit amet</p>
				<p class="orders__address">Lorem ipsum dolor</p>
				<p class="orders__status">Success</p>
				<p class="orders__action">Message</p>
			</div>
		</div>
	</div>
</div>