<div class="chat__body">
	<!-- <div class='chat__image'>
			<picture>
				<source type='image/webp' srcset='@img/gallery/14.webp'>
				<img src='@img/gallery/14.jpg' alt='personal photo'>
			</picture>
		</div>
		<div class="chat__message chat__message_sender">
			<p>
				Lorem ipsum dolor sit amet
			</p>
		</div>
		<p class="chat__separator">New messages</p>
		<div class="chat__message chat__message_reciever">
			<div class='chat__image'>
				<picture>
					<source type='image/webp' srcset='@img/gallery/14.webp'>
					<img src='@img/gallery/14.jpg' alt='personal photo'>
				</picture>
			</div>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
				incididunt ut labore
				et dolore magna aliqua. Ut enim ad minim veniam</p>
		</div> -->

</div>