<div class="workers">
	<div class="workers__cntr">
		<h3 class="workers__title">My NFT orders</h3>
		<div class="workers__heading">
			<p class="workers__heading-name">Name</p>
			<p class="workers__heading-mail">Mail</p>
			<p class="workers__heading-comment">Comment</p>
			<p class="workers__heading-plan">Plan</p>
		</div>
		<div class="workers__items">
			<div class="workers__item">
				<div class="workers__name">
					<p>T-SHIRT</p>
				</div>
				<div class="workers__mail">
					<p>emailofcustomer@gmail.com</p>
				</div>
				<div class="workers__comment">
					<p>Kindness to he horrible reserved ye. Effect twenty indeed beyond for not had
						county. The use him
						without greatly can private.</p>
					<button>Show more</button>
				</div>
				<div class="workers__plan">
					<p>One month</p>
				</div>
			</div>
			<div class="workers__item">
				<div class="workers__name">
					<p>T-SHIRT</p>
				</div>
				<div class="workers__mail">
					<p>emailofcustomer@gmail.com</p>
				</div>
				<div class="workers__comment">
					<p>Kindness to he horrible reserved ye. Effect twenty indeed beyond for not had
						county. The use him
						without greatly can private.</p>
					<button>Show more</button>
				</div>
				<div class="workers__plan">
					<p>One month</p>
				</div>
			</div>
			<div class="workers__item">
				<div class="workers__name">
					<p>T-SHIRT</p>
				</div>
				<div class="workers__mail">
					<p>emailofcustomer@gmail.com</p>
				</div>
				<div class="workers__comment">
					<p>Kindness to he horrible reserved ye. Effect twenty indeed beyond for not had
						county. The use him
						without greatly can private.</p>
					<button>Show more</button>
				</div>
				<div class="workers__plan">
					<p>One month</p>
				</div>
			</div>
			<div class="workers__item">
				<div class="workers__name">
					<p>T-SHIRT</p>
				</div>
				<div class="workers__mail">
					<p>emailofcustomer@gmail.com</p>
				</div>
				<div class="workers__comment">
					<p>Kindness to he horrible reserved ye. Effect twenty indeed beyond for not had
						county. The use him
						without greatly can private.</p>
					<button>Show more</button>
				</div>
				<div class="workers__plan">
					<p>One month</p>
				</div>
			</div>
			<div class="workers__item">
				<div class="workers__name">
					<p>T-SHIRT</p>
				</div>
				<div class="workers__mail">
					<p>emailofcustomer@gmail.com</p>
				</div>
				<div class="workers__comment">
					<p>Kindness to he horrible reserved ye. Effect twenty indeed beyond for not had
						county. The use him
						without greatly can private.</p>
					<button>Show more</button>
				</div>
				<div class="workers__plan">
					<p>One month</p>
				</div>
			</div>
			<div class="workers__item">
				<div class="workers__name">
					<p>T-SHIRT</p>
				</div>
				<div class="workers__mail">
					<p>emailofcustomer@gmail.com</p>
				</div>
				<div class="workers__comment">
					<p>Kindness to he horrible reserved ye. Effect twenty indeed beyond for not had
						county. The use him
						without greatly can private.</p>
					<button>Show more</button>
				</div>
				<div class="workers__plan">
					<p>One month</p>
				</div>
			</div>
			<div class="workers__item">
				<div class="workers__name">
					<p>T-SHIRT</p>
				</div>
				<div class="workers__mail">
					<p>emailofcustomer@gmail.com</p>
				</div>
				<div class="workers__comment">
					<p>Kindness to he horrible reserved ye. Effect twenty indeed beyond for not had
						county. The use him
						without greatly can private.</p>
					<button>Show more</button>
				</div>
				<div class="workers__plan">
					<p>One month</p>
				</div>
			</div>
			<div class="workers__item">
				<div class="workers__name">
					<p>T-SHIRT</p>
				</div>
				<div class="workers__mail">
					<p>emailofcustomer@gmail.com</p>
				</div>
				<div class="workers__comment">
					<p>Kindness to he horrible reserved ye. Effect twenty indeed beyond for not had
						county. The use him
						without greatly can private.</p>
					<button>Show more</button>
				</div>
				<div class="workers__plan">
					<p>One month</p>
				</div>
			</div>
			<div class="workers__item">
				<div class="workers__name">
					<p>T-SHIRT</p>
				</div>
				<div class="workers__mail">
					<p>emailofcustomer@gmail.com</p>
				</div>
				<div class="workers__comment">
					<p>Kindness to he horrible reserved ye. Effect twenty indeed beyond for not had
						county. The use him
						without greatly can private.</p>
					<button>Show more</button>
				</div>
				<div class="workers__plan">
					<p>One month</p>
				</div>
			</div>
		</div>
	</div>
</div>