@charset "UTF-8";

/*Шрифты*/

.orders__action,
.statistics__button,
.admin-header .admin-burger__wrapper span,
.admin-header .admin-burger__wrapper:before,
.admin-header .admin-burger__wrapper:after {
  background: linear-gradient(94.78deg, #68c9ff 9.27%, #d1b5ff 84.06%);
}

body.admin .menu__item.active i,
body.admin .menu__item:hover i {
  background: linear-gradient(94.78deg, #68c9ff 9.27%, #d1b5ff 84.06%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

html {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  min-height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
}

input,
textarea {
  color: inherit;
  font-family: inherit;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: inherit;
  font-size: 1em;
  font-family: inherit;
}

input::placeholder,
textarea::placeholder {
  color: inherit;
  font-size: 1em;
  font-family: inherit;
}

input:focus,
textarea:focus {
  outline: none;
}

button {
  color: inherit;
  border: none;
  background-color: transparent;
  padding: 0;
  font-family: inherit;
}

button:focus {
  outline: none;
}

@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/Manrope-Regular.woff") format("woff"), url("../fonts/Manrope-Regular.woff-2") format("woff-2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Manrope";
  font-display: swap;
  src: url("../fonts/Manrope-Bold.woff") format("woff"), url("../fonts/Manrope-Bold.woff-2") format("woff-2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  font-display: swap;
  src: url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.woff-2") format("woff-2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  font-display: swap;
  src: url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.woff-2") format("woff-2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  font-display: swap;
  src: url("../fonts/ProximaNova-SemiBold.woff") format("woff"), url("../fonts/ProximaNova-SemiBold.woff-2") format("woff-2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  font-display: swap;
  src: url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.woff-2") format("woff-2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  font-display: swap;
  src: url("../fonts/ProximaNova-ExtraBold.woff") format("woff"), url("../fonts/ProximaNova-ExtraBold.woff-2") format("woff-2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "icons-font";
  src: url("../fonts/icons-font.ttf?a20t7x") format("truetype"), url("../fonts/icons-font.woff?a20t7x") format("woff"), url("../fonts/icons-font.svg?a20t7x#icons-font") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons-font" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.instagram:before {
  content: "\e912";
}

.pinterest:before {
  content: "\e915";
}

.telegram:before {
  content: "\e924";
}

.twitter:before {
  content: "\e925";
}

.arrow-down:before {
  content: "\e900";
  color: #c8d2dc;
}

.arrow-down-btn:before {
  content: "\e901";
  color: #525960;
}

.arrow-next:before {
  content: "\e902";
  color: #c8d2dc;
}

.arrow-next-grad:before {
  content: "\e903";
}

.arrow-prev:before {
  content: "\e904";
  color: #c8d2dc;
}

.arrow-up-btn:before {
  content: "\e905";
  color: #86a8ff;
}

.avatar .path1:before {
  content: "\e906";
  color: rgb(252, 232, 227);
}

.avatar .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(226, 152, 143);
}

.avatar .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(216, 93, 99);
}

.avatar .path4:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(183, 61, 73);
}

.avatar .path5:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(76, 34, 75);
}

.avatar .path6:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(226, 152, 143);
}

.avatar .path7:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(196, 105, 102);
}

.avatar .path8:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(196, 105, 102);
}

.avatar .path9:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(196, 105, 102);
}

.avatar .path10:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(196, 105, 102);
}

.avatar .path11:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(196, 105, 102);
}

.avatar .path12:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(76, 34, 75);
}

.copy:before {
  content: "\e913";
}

.crown:before {
  content: "\e914";
}

.diamond:before {
  content: "\e916";
}

.lock:before {
  content: "\e917";
  color: #c8d2dc;
}

.lock-btn:before {
  content: "\e918";
}

.lock-header:before {
  content: "\e919";
  color: #c8d2dc;
}

.messages:before {
  content: "\e91a";
}

.nft:before {
  content: "\e91b";
}

.orders:before {
  content: "\e91c";
}

.search:before {
  content: "\e91d";
  color: #c8d2dc;
}

.star-decor:before {
  content: "\e91e";
  color: #fcffff;
}

.star:before {
  content: "\e91f";
}

.turn-down:before {
  content: "\e920";
  color: #c5ff98;
}

.usd:before {
  content: "\e921";
}

.video:before {
  content: "\e922";
}

.workers:before {
  content: "\e923";
}

.chromeperfectpixel-layer-img {
  -o-object-fit: contain !important;
  object-fit: contain !important;
}

body.lock {
  overflow: hidden;
}

body {
  font-family: "ProximaNova";
  font-size: 1em;
  font-weight: 400;
  background-color: #1d1f21;
}

body:before {
  display: none;
}

body.admin {
  background-color: transparent;
}

[class*=__container] {
  padding-left: 4%;
  padding-right: 4%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main {
  flex: 1 1 auto;
}

.image {
  transition: all 0.3s ease;
  overflow: hidden;
  position: relative;
  padding-bottom: 100%;
  width: 100%;
}

.image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.image.hv:hover img {
  transform: scale(1.2);
}

h1 {
  font-weight: 700;
  font-size: 2.25em;
  line-height: 1.1111111111;
}

h2 {
  font-weight: 700;
  font-size: 1.625em;
  line-height: 1.3076923077;
}

h2.mobile {
  font-size: 1.625em;
  line-height: 1.3076923077;
}

h3 {
  font-weight: 700;
  font-size: 1.125em;
  line-height: 1.4444444444;
}

h4 {
  font-weight: 700;
  font-size: 1.375em;
  line-height: 1.5227272727;
}

h5 {
  font-weight: 700;
  font-size: 1.125em;
  line-height: 1.4444444444;
  color: #fcffff;
}

h6 {
  background: linear-gradient(94.78deg, #68c9ff 9.27%, #d1b5ff 84.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 700;
  font-size: 0.875em;
  line-height: 1.8928571429;
}

.content-text {
  font-size: 0.9375em;
  line-height: 1.6;
}

.content-text-small {
  font-size: 0.75em;
  line-height: 1.6666666667;
}

.content-text-mobile {
  font-size: 0.75em;
  line-height: 1.6666666667;
}

.label {
  font-family: "Manrope";
  font-weight: 700;
  font-size: 0.875em;
  line-height: 1.4285714286;
  color: #1d1f21;
}

.subtext {
  font-weight: 600;
  font-size: 0.875em;
  line-height: 1.7142857143;
}

.admin-header {
  position: relative;
  z-index: 12;
  background-color: #1d1f21;
}

.admin-header__cntr {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 50px;
  column-gap: 50px;
  padding-left: 6.1333333333%;
  padding-right: 4%;
}

.admin-header__logo {
  transform: translate(0, 1px);
  transition: all 0.3s ease;
}

.admin-header__logo:hover {
  transform: scale(1.1);
}

.admin-header__logout {
  display: none;
}

.admin-header .admin-burger {
  position: relative;
  z-index: 12;
  min-height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 9px;
  background: linear-gradient(94.78deg, rgba(104, 201, 255, 0.1) 9.27%, rgba(209, 181, 255, 0.1) 84.06%);
}

.admin-header .admin-burger:hover {
  transform: scale(1.2);
}

.admin-header .admin-burger__wrapper {
  width: 16px;
  height: 12px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.admin-header .admin-burger__wrapper span,
.admin-header .admin-burger__wrapper:before,
.admin-header .admin-burger__wrapper:after {
  height: 2px;
  transition: all 0.3s ease;
  transform: translate(0, 0);
  position: relative;
  left: 0;
  border-radius: 1px;
  margin-left: auto;
}

.admin-header .admin-burger__wrapper:before {
  content: "";
  width: 50%;
  top: 0;
  transform: translate(0, -50%);
}

.admin-header .admin-burger__wrapper:after {
  content: "";
  width: 75%;
  top: 100%;
  transform: translate(0, -250%);
}

.admin-header .admin-burger__wrapper span {
  top: 50%;
  transform: translate(0, -150%);
  width: 100%;
  transition: all 0.3s ease;
}

.admin-header .admin-burger.active .admin-burger__wrapper:before {
  width: 30%;
}

.admin-header .admin-burger.active .admin-burger__wrapper:after {
  width: 100%;
}

.admin-header .admin-burger.active .admin-burger__wrapper span {
  width: 65%;
}

body.admin .aside__action {
  z-index: 10;
  transition: right 1s ease;
}

body.admin .aside__logout {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

body.admin .aside__logout svg {
  width: 18px;
  height: 18px;
}

body.admin .aside__logout svg path {
  stroke: #525960;
}

body.admin .aside__logout p {
  color: #c8d2dc;
  font-family: "Manrope";
  font-size: 0.875em;
  line-height: 1.3571428571;
}

body.admin .menu {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

body.admin .menu__item {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  -moz-column-gap: 14px;
  column-gap: 14px;
  width: 100%;
  transition: all 0.3s ease;
}

body.admin .menu__item i {
  font-size: 1.125em;
  line-height: 1;
}

body.admin .menu__item i:not(.menu__item.active) {
  color: #525960;
}

body.admin .menu__item p {
  font-size: 1em;
  line-height: 1.3125;
  color: #fcffff;
  white-space: nowrap;
  position: relative;
}

body.admin .menu__item_messages p {
  transform: translate(-3px, 0);
}

body.admin .menu__item:hover svg path {
  stroke: url(#paint0_linear_1165_691);
}

body.admin .menu__item.active svg path {
  stroke: url(#paint0_linear_1165_691);
}

.chat-list-preview {
  padding-top: 17px;
}

.chat-list-preview__title {
  font-size: 1.25em;
  line-height: 1.5;
  font-weight: 700;
  color: #fcffff;
  margin-bottom: 10px;
}

.chat-list-preview__slider {
  margin-bottom: 15px;
}

.chat-list-preview__item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-list-preview__photo {
  width: 60px;
  height: 60px;
  position: relative;
  margin-bottom: 7px;
  position: relative;
}

.chat-list-preview__photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 50%;
}

.chat-list-preview__photo:after {
  content: "";
  position: absolute;
  top: 75%;
  left: 67%;
  width: 12px;
  height: 12px;
  background: #47cd7d;
  border: 2.66667px solid #1d1f21;
  border-radius: 50%;
}

.chat-list-preview__name {
  font-weight: 600;
  font-size: 0.75em;
  line-height: 1.25;
  color: #c8d2dc;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 85px;
  color: #fcffff;
  overflow: hidden;
}

.chat-list-preview__time {
  font-size: 0.625em;
  line-height: 1.5;
  color: #c8d2dc;
  opacity: 0.6;
}

.chat-list-preview__search {
  background-color: #212426;
  border-radius: 12px;
  padding-left: 22px;
  padding-right: 23px;
  display: flex;
  align-items: center;
}

.chat-list-preview__search i {
  transform: translate(0, -2px);
}

.chat-list-preview__search input {
  font-size: 0.875em;
  line-height: 1.0714285714;
  color: #c8d2dc;
  padding-top: 18px;
  padding-bottom: 20px;
  padding-left: 9px;
  background-color: transparent;
  flex: 1 1 auto;
}

.chat-list-items {
  padding-top: 14px;
  padding-bottom: 16px;
  row-gap: 8px;
  display: grid;
}

.chat-list-items__item {
  cursor: pointer;
  display: flex;
  -moz-column-gap: 12px;
  column-gap: 12px;
  padding: 14px 12px;
  background-color: #2c2f33;
  border-radius: 14px;
}

.chat-list-items__photo {
  width: 36px;
  height: 36px;
  position: relative;
  position: relative;
}

.chat-list-items__photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 50%;
}

.chat-list-items__photo:after {
  content: "";
  position: absolute;
  top: 75%;
  left: 67%;
  width: 7px;
  height: 7px;
  background: #47cd7d;
  border: 1.6px solid #1d1f21;
  border-radius: 50%;
}

.chat-list-items__content {
  flex: 1 1 auto;
}

.chat-list-items__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
  font-size: 0.75em;
  line-height: 1.25;
  color: #c8d2dc;
}

.chat-list-items__name {
  font-weight: 600;
}

.chat-list-items__time {
  opacity: 0.6;
}

.chat-list-items__message {
  font-size: 0.875em;
  line-height: 1.0714285714;
  text-overflow: ellipsis;
  max-width: 200px;
  color: #fcffff;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: -0.007em;
}

.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.chat__title {
  color: #fcffff;
  display: flex;
  align-items: center;
  -moz-column-gap: 14px;
  column-gap: 14px;
  margin-bottom: 8px;
  padding-left: 3px;
}

.chat__title svg {
  cursor: pointer;
}

.chat__title h3 {
  font-size: 1.25em;
  line-height: 1.5;
  font-weight: 700;
}

.chat__preview {
  display: flex;
  align-items: center;
}

.chat__photo {
  width: 52px;
  height: 52px;
  position: relative;
}

.chat__photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  border-radius: 50%;
}

.chat__name {
  color: #c8d2dc;
  font-size: 1em;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 1px;
}

.chat__was {
  color: #c8d2dc;
  opacity: 0.6;
  font-size: 0.625em;
  line-height: 1.5;
}

.chat__body {
  padding-top: 16px;
  display: grid;
  row-gap: 6px;
  margin-bottom: 48px;
}

.chat__image-wrapper {
  padding: 12px;
  width: 248px;
  height: 248px;
  margin-left: auto;
  border-radius: 8px 8px 0px 8px;
  background-color: #2c2f33;
}

.chat__image {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.chat__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.chat__message {
  position: relative;
  display: flex;
  align-items: flex-end;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

.chat__message p {
  color: #fcffff;
  padding: 12px 24px;
  font-size: 14px;
  line-height: 18px;
  max-width: 299px;
}

.chat__message:after {
  content: "10 min ago";
  position: absolute;
  bottom: -21px;
  width: auto;
  height: auto;
  font-size: 12px;
  line-height: 15px;
  color: #c8d2dc;
  opacity: 0.6;
}

.chat__message_sender {
  margin-left: auto;
}

.chat__message_sender:after {
  right: 0;
}

.chat__message_sender p {
  border-radius: 8px 8px 0px 8px;
  background-color: #2c2f33;
  opacity: 0.7;
}

.chat__message_reciever:after {
  left: 0;
}

.chat__message_reciever p {
  background-color: #3626ea;
  border-radius: 8px 8px 8px 0px;
}

.chat__separator {
  padding-top: 23px;
  padding-bottom: 17px;
  text-align: center;
}

.chat__separator p {
  transform: translate(-2px, 0);
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 0.75em;
  line-height: 1.25;
  position: relative;
  color: #c8d2dc;
  opacity: 0.6;
}

.chat__separator p:after,
.chat__separator p:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background: #2c2f33;
}

.chat__separator p:before {
  top: 0;
}

.chat__separator p:after {
  bottom: 0;
}

.chat__avatar {
  width: 20px;
  flex: 0 0 20px;
  position: relative;
  padding-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.chat__avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.chat__textarea {
  display: flex;
  align-items: center;
  padding-right: 15px;
  border-radius: 9px;
  overflow: hidden;
  background-color: #2c2f33;
}

.chat__textarea input {
  padding-top: 17px;
  padding-bottom: 18px;
  padding-left: 19px;
  padding-right: 19px;
  min-height: auto;
  color: #c8d2dc;
  font-size: 0.875em;
  line-height: 1.5;
  max-height: 56px;
  background-color: transparent;
  flex: 1 1 auto;
  opacity: 0.6;
}

.chat__textarea svg {
  cursor: pointer;
  transform: translate(0, 1px);
}

.statistics__cntr {
  padding-top: 17px;
  padding-bottom: 15px;
}

.statistics__statistics {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(167px, 1fr));
  align-items: center;
  gap: 11px;
  margin-bottom: 15px;
}

.statistics__stats {
  padding-top: 15px;
  padding-bottom: 13px;
  padding-right: 25px;
  text-align: center;
  background-color: #212426;
  border-radius: 12px;
}

.statistics__stats_1 {
  padding-left: 26px;
}

.statistics__stats_2 {
  padding-left: 25px;
}

.statistics__subtitle {
  font-size: 1em;
  line-height: 1.65625;
  font-weight: 700;
  color: #fcffff;
}

.statistics__subtext {
  font-size: 0.75em;
  line-height: 1.75;
  color: #c8d2dc;
  margin-top: -4px;
}

.statistics__graphic {
  border-radius: 12px;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-left: 23px;
  display: grid;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.statistics__title {
  font-size: 1.625em;
  line-height: 1.3076923077;
  font-weight: 700;
  color: #fcffff;
  margin-bottom: -2px;
}

.statistics__text {
  font-size: 0.875em;
  line-height: 1.5;
  margin-bottom: 12px;
  color: #c8d2dc;
}

.statistics__button {
  font-size: 0.875em;
  line-height: 1.4285714286;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
}

.statistics__image {
  position: absolute;
  top: 6px;
  right: -8px;
  height: 180px;
  width: 180px;
}

.statistics__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

body.admin-worker .orders__title {
  display: none !important;
}

body.admin-worker .orders__heading {
  display: none !important;
}

div.orders {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  width: 100%;
}

div.orders:before {
  display: none;
}

.orders__cntr {
  overflow: hidden;
  position: relative;
}

.orders__items {
  display: grid;
  row-gap: 10px;
}

.orders__item {
  display: grid;
  border-radius: 14px;
}

.orders__type {
  font-size: 1em;
  line-height: 1.3125;
  color: #fcffff;
  font-weight: 600;
}

.orders__color span {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #eb8032;
}

.orders__email {
  color: #fcffff;
  font-size: 0.875em;
  line-height: 1.5;
}

.orders__size {
  color: #fcffff;
  font-weight: 600;
}

.orders__status p:last-child {
  font-weight: 700;
  font-size: 1em;
  line-height: 1.75;
  color: #c5ff98;
}

.orders__action {
  font-weight: 700;
  font-size: 0.875em;
  line-height: 1.4285714286;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

body.admin {
  background-color: #1d1f21;
}

body.admin .wrapper {
  max-height: 100vh;
  overflow: hidden;
}

body.admin main {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

body.admin section {
  display: none;
}

body.admin section:before {
  display: none;
}

body.admin section.active {
  display: block;
  flex: 1 1 auto;
  background-color: #1d1f21;
  position: relative;
}

body.admin .messages {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

body.admin .messages__cntr {
  padding-left: 4%;
  padding-right: 4%;
}

body.admin .messages__preview {
  position: relative;
  z-index: 0;
}

@media (min-width: 400px) {
  .orders__items {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    -moz-column-gap: 10px;
    column-gap: 10px;
  }
}

@media (min-width: 468px) {
  h2 {
    font-size: 1.75em;
    line-height: 1.2857142857;
  }

  .content-text {
    font-size: 1em;
    line-height: 1.5625;
  }

  .content-text-mobile {
    font-size: 0.8125em;
    line-height: 1.6153846154;
  }

  .subtext {
    font-size: 0.9375em;
    line-height: 1.7333333333;
  }
}

@media (min-width: 500px) {
  h1 {
    font-size: 2.5em;
    line-height: 1.125;
  }
}

@media (min-width: 550px) {
  .statistics__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    -moz-column-gap: 10px;
    column-gap: 10px;
  }
}

@media (min-width: 700px) {
  h1 {
    font-size: 2.8125em;
    line-height: 1.1111111111;
  }
}

@media (min-width: 760px) {
  h2 {
    font-size: 1.875em;
    line-height: 1.3;
  }

  h3 {
    font-size: 1.1875em;
    line-height: 1.4736842105;
  }

  h4 {
    font-size: 1.5em;
    line-height: 1.3958333333;
  }

  h5 {
    font-size: 1.1875em;
    line-height: 1.4736842105;
  }

  h6 {
    font-size: 1em;
  }

  .content-text-small {
    font-size: 0.8125em;
    line-height: 1.5384615385;
  }

  .content-text-mobile {
    font-size: 0.875em;
    line-height: 1.5714285714;
  }

  .subtext {
    font-size: 1em;
    line-height: 1.75;
  }
}

@media (min-width: 769px) {
  .chat-list-preview {
    padding-top: 0;
  }

  .chat-list-preview__title {
    font-size: 0.875em;
    line-height: 1.4285714286;
    margin-bottom: 25px;
  }

  .chat-list-preview__body {
    display: none;
  }

  .chat-list-preview__photo.premium i {
    display: none;
  }

  .chat-list-items__item {
    padding-right: 19px;
    position: relative;
    background-color: #1d1f21;
    transition: all 0.3s ease;
    z-index: 1;
  }

  .chat-list-items__item:after {
    transition: all 0.3s ease;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(94.78deg, rgba(104, 201, 255, 0.1) 9.27%, rgba(209, 181, 255, 0.1) 84.06%);
    opacity: 0;
    border-radius: 14px;
    z-index: -1;
  }

  .chat-list-items__item:hover:after {
    opacity: 1;
  }

  .chat-list-items__photo.premium:after {
    border-color: rgba(255, 255, 255, 0.2);
  }

  .chat-list-items__photo.premium:before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    border-radius: 50%;
    background: linear-gradient(94.78deg, rgb(104, 202, 255) 9.27%, rgb(209, 181, 255) 84.06%);
  }

  .chat {
    padding-top: 25px;
    padding-bottom: 30px;
    padding-left: 24px;
  }

  .chat__title {
    display: none;
  }

  .chat__preview {
    -moz-column-gap: 13px;
    column-gap: 13px;
  }

  .chat__photo {
    width: 36px;
    height: 36px;
  }

  .chat__preview-text {
    display: flex;
    align-items: center;
    -moz-column-gap: 24px;
    column-gap: 24px;
  }

  .chat__was {
    font-size: 0.75em;
    line-height: 1.25;
    opacity: 1;
    position: relative;
  }

  .chat__was:before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #47cd7d;
    margin-right: 6px;
  }

  .chat__body {
    margin-bottom: 41px;
  }

  .chat__message p {
    max-width: 402px;
  }

  .chat__message_reciever {
    margin-bottom: 21px;
    transform: translate(-2px, 0);
  }

  .chat__separator {
    padding-bottom: 15px;
    padding-top: 35px;
  }

  .chat__textarea {
    padding-right: 25px;
  }

  .chat__textarea input {
    padding-top: 21px;
    padding-bottom: 22px;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 1em;
    line-height: 1.3125;
    min-height: 64px;
  }

  .chat__textarea svg {
    width: 21px;
    height: 21px;
  }

  .statistics__label {
    display: none;
  }

  .statistics__stats {
    background-color: #1d1f21;
  }

  .statistics__graphic {
    background-color: #1d1f21;
    padding-top: 19px;
    padding-left: 30px;
    align-items: start;
    max-height: 137px;
  }

  .statistics__text {
    margin-bottom: 5px;
  }

  .statistics__image {
    width: 146px;
    height: 146px;
    top: 15px;
    right: -16px;
  }

  body.admin-worker .orders__cntr {
    padding-left: 23px !important;
    padding-right: 7px !important;
  }

  body.admin-worker .orders__items {
    row-gap: 17px !important;
  }

  .orders__cntr {
    padding-left: 6px;
    padding-right: 10px;
    position: relative;
  }

  .orders__title {
    display: none;
  }

  .orders__heading {
    color: #fcffff;
    font-size: 0.875em;
    line-height: 1.0714285714;
    padding-top: 28px;
    padding-bottom: 23px;
    padding-left: 23px;
    padding-right: 23px;
    justify-content: start;
  }

  .orders__heading-type,
  .orders__heading-color,
  .orders__heading-email,
  .orders__heading-size,
  .orders__heading-comment,
  .orders__heading-address,
  .orders__heading-status,
  .orders__heading-action {
    display: inline-block;
  }

  .orders__items {
    grid-template-columns: 1fr;
    -moz-column-gap: 0;
    column-gap: 0;
    overflow: auto;
    max-width: 100%;
    padding-bottom: 23px;
    display: inline-grid;
  }

  .orders__item {
    background-color: #1d1f21;
    grid-template-columns: repeat(8, auto);
    align-items: center;
    justify-content: start;
    padding: 25px;
    padding-top: 21px;
    padding-bottom: 27px;
    padding-left: 22px;
    padding-right: 28px;
  }

  .orders__type {
    white-space: nowrap;
  }

  .orders__email {
    font-weight: 600;
  }

  .orders__size {
    white-space: nowrap;
    font-size: 1em;
    line-height: 1.3125;
  }

  .orders__size p:first-child {
    display: none;
  }

  .orders__comment {
    font-size: 0.75em;
    line-height: 1.5;
  }

  .orders__comment p:first-child {
    display: none;
  }

  .orders__comment p:last-of-type {
    order: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    max-width: 143px;
    color: #fcffff;
  }

  .orders__comment button {
    order: 2;
    cursor: pointer;
    display: block;
    color: #86a8ff;
    position: relative;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    transform: translate(0, 2px);
  }

  .orders__comment button:after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #86a8ff;
  }

  .orders__address {
    font-size: 0.75em;
    line-height: 1.5;
  }

  .orders__address p:first-child {
    display: none;
  }

  .orders__address p:last-of-type {
    order: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    max-width: 99px;
    color: #fcffff;
  }

  .orders__address button {
    order: 2;
    cursor: pointer;
    display: block;
    color: #86a8ff;
    position: relative;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    transform: translate(0, 2px);
  }

  .orders__address button:after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #86a8ff;
  }

  .orders__status {
    width: 103px;
    height: 40px;
    background-color: rgba(197, 255, 152, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .orders__status p:first-child {
    display: none;
  }

  .orders__action {
    min-width: 103px;
    cursor: pointer;
  }

  body.admin-client .orders__heading-email {
    transform: translate(-6px, 0);
  }

  body.admin-client .orders__heading-address {
    transform: translate(-3px, 0);
  }

  body.admin-client .orders__heading-status {
    transform: translate(1px, 0);
  }

  body.admin-client .orders__heading-action {
    transform: translate(9px, 0);
  }

  body.admin-client .orders__type {
    padding-right: 39px;
  }

  body.admin-client .orders__color {
    padding-right: 28px;
  }

  body.admin-client .orders__email {
    padding-right: 14px;
  }

  body.admin-client .orders__size {
    padding-right: 25px;
  }

  body.admin-client .orders__comment {
    padding-right: 18px;
  }

  body.admin-client .orders__address {
    padding-right: 18px;
  }

  body.admin-client .orders__status {
    margin-right: 9px;
  }

  body.admin-owner .orders__cntr,
  body.admin-worker .orders__cntr {
    padding-left: 14px;
    padding-right: 15px;
  }

  body.admin-owner .orders__heading,
  body.admin-worker .orders__heading {
    padding-left: 16px;
    transform: translate(10px, 0);
  }

  body.admin-owner .orders__heading-type,
  body.admin-worker .orders__heading-type {
    transform: translate(-10px, 0);
  }

  body.admin-owner .orders__heading-color,
  body.admin-worker .orders__heading-color {
    transform: translate(-3px, 0);
  }

  body.admin-owner .orders__heading-email,
  body.admin-worker .orders__heading-email {
    transform: translate(-3px, 0);
  }

  body.admin-owner .orders__heading-size,
  body.admin-worker .orders__heading-size {
    transform: translate(-1px, 0);
  }

  body.admin-owner .orders__heading-status,
  body.admin-worker .orders__heading-status {
    display: none;
  }

  body.admin-owner .orders__items,
  body.admin-worker .orders__items {
    row-gap: 9px;
  }

  body.admin-owner .orders__item,
  body.admin-worker .orders__item {
    padding-top: 22px;
    padding-left: 24px;
    padding-right: 30px;
  }

  body.admin-owner .orders__type,
  body.admin-worker .orders__type {
    padding-right: 34px;
  }

  body.admin-owner .orders__color,
  body.admin-worker .orders__color {
    padding-right: 40px;
  }

  body.admin-owner .orders__email,
  body.admin-worker .orders__email {
    padding-right: 28px;
  }

  body.admin-owner .orders__size,
  body.admin-worker .orders__size {
    padding-right: 28px;
  }

  body.admin-owner .orders__comment,
  body.admin-worker .orders__comment {
    padding-right: 16px;
  }

  body.admin-owner .orders__address,
  body.admin-worker .orders__address {
    padding-right: 17px;
  }

  body.admin-owner .orders__address p:last-of-type,
  body.admin-worker .orders__address p:last-of-type {
    max-width: 143px;
  }

  body.admin-owner .orders__status,
  body.admin-worker .orders__status {
    display: none;
  }

  body.admin-owner .orders__action,
  body.admin-worker .orders__action {
    min-width: 116px;
  }

  body.admin main {
    flex-direction: row;
  }

  body.admin section.active {
    background-color: #212426;
  }

  body.admin .messages__cntr {
    display: flex;
    padding-left: 29px;
    padding-right: 32px;
    height: 100%;
  }

  body.admin .messages__preview {
    flex: 0 0 317px;
    padding-top: 32px;
    padding-right: 29px;
    position: relative;
  }

  body.admin .messages__preview:after {
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 1px;
    height: 100%;
    transform: translate(-100%, 0);
    background: rgba(82, 89, 96, 0.3);
  }

  body.admin .messages__chat {
    flex: 1 1 auto;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 3.125em;
    line-height: 1.1;
  }

  h2 {
    font-size: 2.0625em;
    line-height: 1.3333333333;
  }

  .content-text-mobile {
    font-size: 0.9375em;
    line-height: 1.6;
  }

  .admin-header__logout {
    cursor: pointer;
    display: flex;
    align-items: center;
    -moz-column-gap: 11px;
    column-gap: 11px;
  }

  .admin-header__logout p {
    color: #c8d2dc;
    font-family: "Manrope";
    font-size: 0.875em;
    line-height: 1.3571428571;
  }

  .admin-header .admin-burger {
    display: none;
  }

  body.admin .aside__cnt,
  body.admin .aside__action,
  body.admin .aside__action-wrapper,
  body.admin .aside__action-body {
    height: 100%;
  }

  body.admin .aside__action {
    z-index: 12;
  }

  body.admin .aside__action {
    z-index: 12;
  }

  body.admin .aside__action-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 12;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 23px;
    padding-bottom: 22px;
  }

  body.admin .aside__logout {
    margin-bottom: 16px;
  }

  body.admin .aside__copy {
    font-size: 0.75em;
    line-height: 1.6666666667;
    padding-top: 13px;
    color: #c8d2dc;
    position: relative;
  }

  body.admin .aside__copy:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #525960;
  }

  body.admin .menu {
    flex: 1 1 auto;
    position: relative;
    z-index: 12;
    color: #fff;
    padding-left: 8px;
  }

  body.admin .menu__item p {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  body.admin .menu__item_workers p {
    transform: translate(-2px, 0);
  }

  .statistics__cntr {
    padding-right: 54px;
    padding-top: 33px;
    padding-bottom: 4px;
  }

  .statistics__wrapper {
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 30px;
    column-gap: 30px;
  }

  .statistics__statistics {
    -moz-column-gap: 30px;
    column-gap: 30px;
    grid-column: span 2;
    grid-template-columns: 1fr 1fr;
  }

  .statistics__stats {
    text-align: left;
    padding-top: 32px;
    padding-bottom: 34px;
    padding-left: 30px;
  }

  .statistics__subtitle {
    font-size: 2.25em;
    line-height: 1.375;
    margin-bottom: 3px;
  }

  .statistics__subtext {
    font-size: 0.875em;
    line-height: 1.5;
  }

  body.admin section.active {
    border-radius: 32px 0px 0px 0px;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 3.75em;
    line-height: 1;
  }

  h2 {
    font-size: 2.25em;
    line-height: 1.375;
  }

  h3 {
    font-size: 1.25em;
    line-height: 1.5;
  }

  h4 {
    font-size: 1.625em;
    line-height: 1.2884615385;
  }

  h5 {
    font-size: 1.25em;
    line-height: 1.5;
  }

  h6 {
    font-size: 1.125em;
  }

  .content-text {
    font-size: 1em;
    line-height: 1.75;
  }

  .content-text-small {
    font-size: 0.875em;
    line-height: 1.5;
  }
}

@media (min-width: 1250px) {
  [class*=__container] {
    padding-left: 11.4583333333%;
    padding-right: 11.4583333333%;
  }

  .admin-header__cntr {
    padding-left: 2.65625%;
    padding-right: 2.1875%;
  }
}

@media (min-width: 1280px) {
  body.admin .aside__action-body {
    min-width: 245px;
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media (min-width: 1400px) {
  h1 {
    font-size: 4em;
    line-height: 1.015625;
  }
}

@media (max-width: 999px) {
  body.admin .aside__action {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: -100vw;
  }

  body.admin .aside__action-wrapper {
    padding-right: 4%;
    padding-left: 4%;
    padding-bottom: 27px;
    position: absolute;
    padding-top: 64px;
    top: 0;
    right: 0;
    width: 100%;
    height: 0;
    display: flex;
    flex-direction: column;
    background-color: #1d1f21;
  }

  body.admin .aside__action-body {
    overflow: auto;
    display: inline-flex;
    flex-direction: column;
    background-color: #1d1f21;
    width: 100%;
  }

  body.admin .aside__action:before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(-100vw + 100%);
    width: 100vw;
    height: 100vh;
    opacity: 0;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    z-index: -1;
    transition: opacity 0s ease 0s;
  }

  body.admin .aside__action.active {
    right: 0;
    transition: right 1s ease;
  }

  body.admin .aside__action.active:before {
    opacity: 1;
    transition: opacity 0.5s ease 0.8s;
  }

  body.admin .aside__copy {
    display: none;
  }

  body.admin .menu {
    width: 100%;
    text-align: right;
    padding-top: 3px;
  }

  body.admin .menu__item p {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  body.admin .menu__item_workers p {
    transform: translate(-3px, 0);
  }

  body.admin .menu__item:before {
    background: linear-gradient(94.78deg, #68c9ff 9.27%, #d1b5ff 84.06%);
    pointer-events: none;
    transition: all 0.3s ease;
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    opacity: 0.1;
  }

  body.admin .menu__item:hover:before {
    opacity: 0.5;
  }

  body.admin .menu__item.active:after {
    content: "";
    position: relative;
    top: 0;
    right: 2px;
    width: 7px;
    height: 7px;
    margin-left: auto;
    border-radius: 50%;
    background: linear-gradient(94.78deg, #68c9ff 9.27%, #d1b5ff 84.06%);
  }
}

@media (max-width: 768px) {
  body.admin .aside {
    width: 100%;
  }

  .chat-list-preview__photo.premium i {
    font-size: 0.625em;
    line-height: 1;
    background: linear-gradient(94.78deg, #68c9ff 9.27%, #d1b5ff 84.06%);
    border-radius: 7px;
    padding: 4px;
    position: absolute;
    bottom: -2px;
    left: -1px;
    z-index: 1;
  }

  .chat {
    padding-top: 17px;
    padding-bottom: 28px;
    padding-right: 4%;
    padding-left: 4%;
  }

  .chat__preview {
    padding: 13px 15px;
    border-radius: 12px;
    background-color: #212426;
    -moz-column-gap: 22px;
    column-gap: 22px;
  }

  .chat__photo {
    position: relative;
  }

  .chat__photo:after {
    content: "";
    position: absolute;
    top: 75%;
    left: 67%;
    width: 10px;
    height: 10px;
    background: #47cd7d;
    border: 1.6px solid #1d1f21;
    border-radius: 50%;
  }

  .chat__message_hidden {
    display: none;
  }

  .chat__separator {
    margin-left: -4%;
    width: 108.6956521739%;
  }

  .statistics__label {
    font-size: 1.25em;
    line-height: 1.5;
    font-weight: 700;
    color: #fcffff;
    margin-bottom: 8px;
  }

  .statistics__graphic {
    background: linear-gradient(94.78deg, rgba(104, 201, 255, 0.1) 9.27%, rgba(209, 181, 255, 0.1) 84.06%);
  }

  .orders__cntr {
    padding-left: 4%;
    padding-right: 4%;
  }

  .orders__title {
    position: sticky;
    top: 0;
    left: 0;
    font-size: 1.25em;
    line-height: 1.5;
    font-weight: 700;
    padding-top: 17px;
    padding-bottom: 10px;
    color: #fcffff;
    z-index: 1;
  }

  .orders__title:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: #1d1f21;
    z-index: -1;
  }

  .orders__heading {
    display: none !important;
  }

  .orders__items {
    padding-bottom: 17px;
  }

  .orders__item {
    background: #2c2f33;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-right: 19px;
    padding-left: 18px;
    grid-template-columns: 32px repeat(6, 1fr) 32px;
    align-items: center;
  }

  .orders__type {
    grid-column: 2/9;
    grid-row: 1/2;
    padding-left: 14px;
  }

  .orders__color {
    grid-column: 1/2;
    grid-row: span 2;
  }

  .orders__email {
    grid-column: 2/9;
    grid-row: 2/3;
    padding-left: 14px;
  }

  .orders__size {
    grid-column: span 8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-top: 15px;
    margin-bottom: 5px;
    position: relative;
  }

  .orders__size p:first-child {
    font-size: 0.875em;
    line-height: 1.0714285714;
    font-weight: 300;
    transform: translate(0, -1px);
  }

  .orders__size p:last-child {
    font-weight: 600;
    font-size: 0.875em;
    line-height: 1.5;
    padding-top: 13px;
    padding-bottom: 15px;
  }

  .orders__size:after,
  .orders__size:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(94.78deg, rgba(104, 202, 255, 0.1) 9.27%, rgba(209, 181, 255, 0.1) 84.06%);
  }

  .orders__size:after {
    top: 0;
  }

  .orders__size:before {
    bottom: 0;
  }

  .orders__comment {
    grid-column: span 8;
    grid-row: 5/6;
  }

  .orders__comment p {
    color: #fcffff;
  }

  .orders__comment p:first-child {
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 7px;
  }

  .orders__comment p:last-of-type {
    font-size: 0.875em;
    line-height: 1.2857142857;
  }

  .orders__comment button {
    display: none;
  }

  .orders__address {
    grid-column: span 8;
    grid-row: 6/7;
    position: relative;
    padding-top: 9px;
    margin-top: 6px;
  }

  .orders__address:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(94.78deg, rgba(104, 202, 255, 0.1) 9.27%, rgba(209, 181, 255, 0.1) 84.06%);
  }

  .orders__address p {
    color: #fcffff;
  }

  .orders__address p:first-child {
    font-size: 14px;
    line-height: 15px;
    margin-bottom: 7px;
  }

  .orders__address p:last-of-type {
    font-size: 0.875em;
    line-height: 1.2857142857;
  }

  .orders__address button {
    display: none;
  }

  .orders__status {
    grid-column: span 8;
    grid-row: 4/5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 9px;
    margin-bottom: 7px;
    position: relative;
  }

  .orders__status p:first-child {
    font-size: 0.875em;
    line-height: 1.0714285714;
    color: #fcffff;
  }

  .orders__status p:last-child {
    position: relative;
    transform: translate(3px, 0);
  }

  .orders__status p:last-child:before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #c5ff98;
    margin-right: 8px;
    border-radius: 50%;
    transform: translate(0, -2px);
  }

  .orders__status:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(94.78deg, rgba(104, 202, 255, 0.1) 9.27%, rgba(209, 181, 255, 0.1) 84.06%);
  }

  .orders__action {
    grid-row: 7/8;
    margin-top: 17px;
    width: 103px;
    cursor: pointer;
  }

  body.admin-owner .orders__item,
  body.admin-worker .orders__item {
    padding-bottom: 17px;
  }

  body.admin-owner .orders__size,
  body.admin-worker .orders__size {
    margin-bottom: 14px;
  }

  body.admin-owner .orders__status,
  body.admin-worker .orders__status {
    display: none;
  }

  body.admin .messages__chat {
    background-color: #1d1f21;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 100%;
    transition: left 0.8s ease;
    width: 100%;
  }

  body.admin .messages__chat.visible {
    transition: left 0.8s ease;
    left: 0;
  }
}

@media (max-width: 559px) {
  .chat-list-preview__slider {
    margin-right: -4%;
  }
}

@media (max-width: 450px) {
  .orders__comment {
    grid-column: 5/9;
    grid-row: 5/6;
    padding-left: 13px;
  }

  .orders__address {
    grid-column: 1/5;
    grid-row: 5/6;
    padding-right: 13px;
    margin-top: 0;
    padding-top: 0;
  }

  .orders__address::before {
    display: none;
  }

  .orders__action {
    grid-column: span 8;
    grid-row: 6/7;
  }
}

@media (max-width: 400px) {
  .orders__action {
    width: 100%;
  }
}

@media (max-width: 374px) {
  .orders__comment {
    grid-column: span 8;
    margin: 0;
    padding-left: 0;
    grid-row: 5/6;
  }

  .orders__address {
    grid-column: span 8;
    padding-right: 0;
    grid-row: 6/7;
    position: relative;
    padding-top: 9px;
    margin-left: 0;
    margin-top: 6px;
  }

  .orders__address:before {
    display: block;
  }

  .orders__action {
    grid-row: 7/8;
  }
}

@media (max-width: 999px) and (min-width: 468px) {
  body.admin .aside__action-wrapper {
    border-radius: 0 0 0 16px;
    align-items: flex-end;
    width: auto;
  }

  body.admin .aside__action-body {
    width: auto;
    min-width: 200px;
  }
}