@charset "UTF-8";

/*Шрифты*/

html {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  min-height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  color: inherit;
}

input::-moz-placeholder {
  color: inherit;
  font-size: 1em;
}

input::placeholder {
  color: inherit;
  font-size: 1em;
}

input:focus {
  outline: none;
}

button {
  color: inherit;
  border: none;
  background-color: transparent;
  padding: 0;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff-2") format("woff-2");
  font-weight: 600;
  font-style: normal;
}

body.lock {
  overflow: hidden;
}

body {
  font-family: "CustomFont";
  font-size: 1em;
  font-weight: 400;
}

[class*=__container] {
  padding-left: 4%;
  padding-right: 4%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main {
  flex: 1 1 auto;
}

.image {
  transition: all 0.3s ease;
  overflow: hidden;
  position: relative;
  padding-bottom: 100%;
  width: 100%;
}

.image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.image.hv:hover img {
  transform: scale(1.2);
}

h1 {
  font-weight: 700;
  font-size: 2.25em;
  line-height: 1.1111111111;
}

h2 {
  font-weight: 700;
  font-size: 1.625em;
  line-height: 1.3076923077;
}

h3 {
  font-weight: 700;
  font-size: 1.125em;
  line-height: 1.4444444444;
}

h4 {
  font-weight: 700;
  font-size: 1.375em;
  line-height: 1.5227272727;
}

.content-text {
  font-size: 0.9375em;
  line-height: 1.6;
}

.content-text-small {
  font-size: 0.75em;
  line-height: 1.6666666667;
}

.header {
  position: relative;
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1;
}

.header__body {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  z-index: 2;
  font-size: 35px;
  transition: all 0.3s ease;
}

.header__logo:hover {
  transform: scale(1.2);
}

.header-action {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}

.header-action li {
  cursor: pointer;
  transition: all 0.3s ease;
}

.header-action li:hover {
  transform: scale(1.2);
}

.header-action li:not(:last-child) {
  margin-right: 15px;
}

.burger {
  position: relative;
  z-index: 2;
  min-height: 40px;
  width: 40px;
  margin-left: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  cursor: pointer;
  /* 
    &:hover .burger__wrapper {
       span,
       &:before,
       &:after {
          background-color: orange; 
       }
    }
  */
}

.burger:hover {
  transform: scale(1.2);
}

.burger__wrapper {
  width: 30px;
  height: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.burger__wrapper span,
.burger__wrapper:before,
.burger__wrapper:after {
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: all 0.3s ease;
  transform: translate(0, 0);
  position: relative;
  left: 0;
}

.burger__wrapper:before {
  content: "";
  -webkit-animation: burgerTopDisabled 0.7s ease 0s 1;
  animation: burgerTopDisabled 0.7s ease 0s 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.burger__wrapper:after {
  content: "";
  -webkit-animation: burgerBottomDisabled 0.7s ease 0s 1;
  animation: burgerBottomDisabled 0.7s ease 0s 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.burger__wrapper span {
  top: 50%;
  transform: translate(0, -150%);
  transition: background-color 0.3s ease, transform 0.3s ease 0s;
}

@-webkit-keyframes burgerTopDisabled {
  0% {
    top: 50%;
    transform: translate(0, -50%) rotate(-45deg);
  }

  50% {
    top: 50%;
    transform: translate(0, -50%);
  }

  100% {
    top: 0;
    transform: translate(0, 0);
  }
}

@keyframes burgerTopDisabled {
  0% {
    top: 50%;
    transform: translate(0, -50%) rotate(-45deg);
  }

  50% {
    top: 50%;
    transform: translate(0, -50%);
  }

  100% {
    top: 0;
    transform: translate(0, 0);
  }
}

@-webkit-keyframes burgerBottomDisabled {
  0% {
    top: 50%;
    transform: translate(0, -250%) rotate(45deg);
  }

  50% {
    top: 50%;
    transform: translate(0, -250%);
  }

  100% {
    top: 100%;
    transform: translate(0, -300%);
  }
}

@keyframes burgerBottomDisabled {
  0% {
    top: 50%;
    transform: translate(0, -250%) rotate(45deg);
  }

  50% {
    top: 50%;
    transform: translate(0, -250%);
  }

  100% {
    top: 100%;
    transform: translate(0, -300%);
  }
}

.burger.active .burger__wrapper:before {
  -webkit-animation: burgerTopActive 0.7s ease 0s 1;
  animation: burgerTopActive 0.7s ease 0s 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.burger.active .burger__wrapper span {
  transform: translate(0, -150%) scale(0);
  transition: background-color 0.3s ease, transform 0.3s ease 0.3s;
}

.burger.active .burger__wrapper:after {
  -webkit-animation: burgerBottomActive 0.7s ease 0s 1;
  animation: burgerBottomActive 0.7s ease 0s 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes burgerTopActive {
  0% {
    top: 0;
    transform: translate(0, 0);
  }

  50% {
    top: 50%;
    transform: translate(0, -50%);
  }

  100% {
    top: 50%;
    transform: translate(0, -50%) rotate(-45deg);
  }
}

@keyframes burgerTopActive {
  0% {
    top: 0;
    transform: translate(0, 0);
  }

  50% {
    top: 50%;
    transform: translate(0, -50%);
  }

  100% {
    top: 50%;
    transform: translate(0, -50%) rotate(-45deg);
  }
}

@-webkit-keyframes burgerBottomActive {
  0% {
    top: 100%;
    transform: translate(0, -300%);
  }

  50% {
    top: 50%;
    transform: translate(0, -250%);
  }

  100% {
    top: 50%;
    transform: translate(0, -250%) rotate(45deg);
  }
}

@keyframes burgerBottomActive {
  0% {
    top: 100%;
    transform: translate(0, -300%);
  }

  50% {
    top: 50%;
    transform: translate(0, -250%);
  }

  100% {
    top: 50%;
    transform: translate(0, -250%) rotate(45deg);
  }
}

.pop-up {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.pop-up.active {
  z-index: 100;
  opacity: 1;
  pointer-events: all;
}

.pop-up__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 200px;
}

.pop-up__body {
  overflow: auto;
  max-height: 100%;
  background-color: rgba(233, 233, 233, 0.33);
  padding: 50px;
}

.pop-up__body p {
  font-size: 1.5em;
  line-height: 1.3333333333;
  color: #fff;
}

.spoiler {
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.spoiler__preview {
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spoiler__icon {
  transition: all 0.3s ease;
}

.spoiler__wrapper {
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.spoiler__body {
  padding-top: 30px;
  padding-bottom: 30px;
}

.spoiler.opened .spoiler__icon {
  transform: rotate(180deg);
}

.btn {
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 17.5px;
  padding-right: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 1rem;
  min-height: 52px;
  position: relative;
  transition: all 0.3s ease;
}

.btn:after {
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
}

.btn a {
  font-weight: 700;
  font-size: 0.9375em;
  line-height: 1.7666666667;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease;
}

.btn.big {
  max-width: 170px;
}

.btn.small {
  max-width: 117px;
}

.btn.grad-bg {
  background: linear-gradient(94.78deg, #68c9ff 9.27%, #d1b5ff 84.06%);
}

.btn.grad-bg i {
  margin-right: 9.5px;
}

.btn.grad-bg a {
  color: #1d1f21;
}

.btn.grad-text {
  background: #000 linear-gradient(94.78deg, rgba(104, 201, 255, 0.25) 9.27%, rgba(209, 181, 255, 0.25) 84.06%);
}

.btn.dark-bg {
  background-color: #1d1f21;
}

.btn.grad-text i,
.btn.dark-bg i {
  display: none;
}

.btn.grad-text a,
.btn.dark-bg a {
  background: linear-gradient(94.78deg, #68c9ff 9.27%, #d1b5ff 84.06%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.btn.grad-text:hover a,
.btn.dark-bg:hover a {
  background: linear-gradient(270deg, #68c9ff 9.27%, #d1b5ff 84.06%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.btn:hover {
  transform: scale(1.1);
  position: relative;
}

.btn:hover:after {
  background: rgba(0, 0, 0, 0.3);
}

.btn:hover a {
  color: #fff;
}

.btn:active:after {
  background: rgba(0, 0, 0, 0.1);
}

@media (min-width: 769px) {
  .burger {
    display: none;
  }
}

@media (min-width: 1000px) {
  [class*=__container] {
    padding-left: 10.4166666667%;
    padding-right: 10.4166666667%;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 4em;
    line-height: 1.015625;
  }

  h2 {
    font-size: 2.25em;
    line-height: 1.375;
  }

  h3 {
    font-size: 1.25em;
    line-height: 1.5;
  }

  h4 {
    font-size: 1.625em;
    line-height: 1.2884615385;
  }

  .content-text {
    font-size: 1em;
    line-height: 1.75;
  }

  .content-text-small {
    font-size: 0.875em;
    line-height: 1.5;
  }

  .btn {
    min-height: 64px;
    padding-left: 24px;
    padding-right: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .btn a {
    font-size: 1.125em;
    line-height: 1.4722222222;
  }

  .btn.big {
    max-width: 209px;
  }

  .btn.small {
    max-width: 145px;
  }

  .btn.grad-bg i {
    margin-right: 10px;
  }
}