.hello-h1 h1 {
  color: #fff;
  max-width: 263px;
  margin-bottom: 9px;
  letter-spacing: -0.002em;
}

.hello-h1 p {
  color: #fff;
  max-width: 271px;
  margin-bottom: 22px;
}

.hello-h1__buttons {
  display: flex;
  -moz-column-gap: 12px;
  column-gap: 12px;
}

@media (min-width: 1200px) {
  .hello-h1 h1 {
    max-width: 475px;
    margin-bottom: 16px;
  }

  .hello-h1 p {
    margin-bottom: 40px;
  }
}