.chat-list-preview {
   padding-top: 17px;
   // .chat-list-preview__title
   &__title {
      @include fl(20, 30);
      font-weight: 700;
      color: #fcffff;
      margin-bottom: 10px;
   }

   // .chat-list-preview__body
   &__body {
      @media (min-width: 1000px) {
         display: none;
      }
   }

   // .chat-list-preview__slider
   &__slider {
      @media (max-width: 559px) {
         margin-right: percent(-15, 375);
      }
      // padding-left: 1px;
      margin-bottom: 15px;
   }

   // .chat-list-preview__item
   &__item {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   // .chat-list-preview__photo
   &__photo {
      width: 60px;
      height: 60px;
      position: relative;
      margin-bottom: 7px;
      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
         border-radius: 50%;
      }
      position: relative;
      &:after {
         content: "";
         position: absolute;
         top: 75%;
         left: 67%;
         width: 12px;
         height: 12px;
         background: #47cd7d;
         border: 2.66667px solid #1d1f21;
         border-radius: 50%;
      }
   }

   // .chat-list-preview__name
   &__name {
      font-weight: 600;
      @include fl(12, 15);
      color: #c8d2dc;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 85px;
      color: #fcffff;
      overflow: hidden;
   }

   // .chat-list-preview__time
   &__time {
      @include fl(10, 15);
      color: #c8d2dc;
      opacity: 0.6;
   }

   // .chat-list-preview__search
   &__search {
      background-color: #212426;
      border-radius: 12px;
      padding-left: 22px;
      padding-right: 23px;
      display: flex;
      align-items: center;
      i {
         transform: translate(0, -2px);
      }
      input {
         @include fl(14, 15);
         color: #c8d2dc;
         padding-top: 18px;
         padding-bottom: 20px;
         padding-left: 9px;
         background-color: transparent;
         flex: 1 1 auto;
      }
   }
}
