.chat {
   // .chat__title
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 100%;
   @media (max-width: 999px) {
      padding-top: 17px;
      padding-bottom: 28px;
      padding-right: percent(15, 375);
      padding-left: percent(15, 375);
   }
   @media (min-width: 1000px) {
      padding-top: 25px;
      padding-bottom: 30px;
      padding-left: 24px;
   }
   // overflow: auto;
   // max-height: 100%;
   &__title {
      color: #fcffff;
      display: flex;
      align-items: center;
      column-gap: 14px;
      margin-bottom: 8px;
      padding-left: 3px;
      svg {
         cursor: pointer;
      }
      h3 {
         @include fl(20, 30);
         font-weight: 700;
      }
      @media (min-width: 1000px) {
         display: none;
      }
   }

   // .chat__preview
   &__preview {
      display: flex;
      align-items: center;
      @media (max-width: 999px) {
         padding: 13px 15px;
         border-radius: 12px;
         background-color: #2c2f33;
         column-gap: 22px;
      }
      @media (min-width: 1000px) {
         column-gap: 13px;
      }
   }

   // .chat__photo
   &__photo {
      width: 52px;
      height: 52px;
      position: relative;
      @media (min-width: 1000px) {
         width: 36px;
         height: 36px;
      }
      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
         border-radius: 50%;
      }
      @media (max-width: 999px) {
         position: relative;
         &:after {
            content: "";
            position: absolute;
            top: 75%;
            left: 67%;
            width: 10px;
            height: 10px;
            background: #47cd7d;
            border: 1.6px solid #1d1f21;
            border-radius: 50%;
         }
      }
   }

   &__preview-text {
      @media (min-width: 1000px) {
         display: flex;
         align-items: center;
         column-gap: 24px;
      }
   }
   // .chat__name
   &__name {
      color: #c8d2dc;
      @include fl(16);
      font-weight: 600;
      margin-bottom: 1px;
   }

   // .chat__was
   &__was {
      color: #c8d2dc;
      opacity: 0.6;
      @include fl(10, 15);
      @media (min-width: 1000px) {
         @include fl(12, 15);

         opacity: 1;
         position: relative;
         &:before {
            content: "";
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #47cd7d;
            margin-right: 6px;
         }
      }
   }

   // .chat__body
   &__body {
      padding-top: 16px;
      display: grid;
      row-gap: 6px;
      margin-bottom: 48px;
      @media (min-width: 1000px) {
         margin-bottom: 41px;
      }
   }

   // .chat__image-wrapper
   &__image-wrapper {
      padding: 12px;
      width: 248px;
      height: 248px;
      margin-left: auto;
      border-radius: 8px 8px 0px 8px;
      background-color: #2c2f33;
   }

   // .chat__image
   &__image {
      position: relative;
      width: 100%;
      padding-bottom: 100%;
      border-radius: 5px;
      overflow: hidden;

      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
      }
   }

   // .chat__message
   &__message {
      position: relative;
      display: flex;
      align-items: flex-end;
      column-gap: 10px;
      p {
         color: #fcffff;
         padding: 12px 24px;
         font-size: 14px;
         line-height: 18px;
         max-width: 299px;
         @media (min-width: 1000px) {
            max-width: 402px;
         }
      }
      &:after {
         content: "10 min ago";
         position: absolute;
         bottom: -21px;
         width: auto;
         height: auto;
         font-size: 12px;
         line-height: 15px;
         color: #c8d2dc;
         opacity: 0.6;
      }

      // .chat__message_sender
      &_sender {
         &:after {
            right: 0;
         }
         margin-left: auto;
         p {
            border-radius: 8px 8px 0px 8px;
            background-color: #2c2f33;
            opacity: 0.7;
         }
      }
      &_hidden {
         @media (max-width: 768px) {
            display: none;
         }
      }

      // .chat__message_reciever
      &_reciever {
         &:after {
            left: 0;
         }

         p {
            background-color: #3626ea;
            border-radius: 8px 8px 8px 0px;
         }
         @media (min-width: 1000px) {
            margin-bottom: 21px;
            transform: translate(-2px, 0);
         }
      }
   }

   // .chat__separator
   &__separator {
      padding-top: 23px;
      padding-bottom: 17px;
      text-align: center;
      @media (max-width: 999px) {
         margin-left: percent(-15, 375);
         width: percent(375, 345);
      }
      @media (min-width: 1000px) {
         padding-bottom: 15px;
         padding-top: 35px;
      }
      p {
         transform: translate(-2px, 0);
         padding-top: 4px;
         padding-bottom: 4px;
         @include fl(12, 15);
         position: relative;
         color: #c8d2dc;
         opacity: 0.6;
         &:after,
         &:before {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 1px;
            background: #2c2f33;
         }
         &:before {
            top: 0;
         }
         &:after {
            bottom: 0;
         }
      }
   }

   // .chat__avatar
   &__avatar {
      width: 20px;
      flex: 0 0 20px;
      position: relative;
      padding-bottom: 20px;
      border-radius: 50%;
      overflow: hidden;

      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: center;
      }
   }

   // .chat__textarea
   &__textarea {
      display: flex;
      align-items: center;
      padding-right: 15px;
      border-radius: 9px;
      overflow: hidden;
      background-color: #2c2f33;
      @media (min-width: 1000px) {
         padding-right: 25px;
      }
      input {
         padding-top: 17px;
         padding-bottom: 18px;
         padding-left: 19px;
         padding-right: 19px;
         min-height: auto;
         color: #c8d2dc;
         @include fl(14, 21);
         max-height: 56px;
         background-color: transparent;
         flex: 1 1 auto;
         opacity: 0.6;
         @media (min-width: 1000px) {
            padding-top: 21px;
            padding-bottom: 22px;
            padding-left: 32px;
            padding-right: 32px;
            @include fl(16, 21);
            min-height: 64px;
         }
      }
      svg {
         transform: translate(0, 1px);
         @media (min-width: 1000px) {
            width: 21px;
            height: 21px;
         }
      }
   }
}
