div.orders {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   overflow: auto;
   width: 100%;
   &:before {
      display: none;
   }
}
.orders {
   &__cntr {
      overflow: hidden;
      position: relative;
      @media (max-width: 768px) {
         padding-left: percent(15, 375);
         padding-right: percent(15, 375);
      }
      @media (min-width: 769px) {
         padding-left: 6px;
         padding-right: 10px;
         position: relative;
      }
   }
   // .orders__title
   &__title {
      @media (max-width: 768px) {
         position: sticky;
         top: 0;
         left: 0;
         @include fl(20, 30);
         font-weight: 700;
         padding-top: 17px;
         padding-bottom: 10px;
         color: #fcffff;
         z-index: 1;
         &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100%;
            background: #1d1f21;
            z-index: -1;
         }
      }
      @media (min-width: 769px) {
         display: none;
      }
   }
   &__heading {
      @media (max-width: 768px) {
         display: none;
      }
      @media (min-width: 769px) {
         color: #fcffff;
         @include fl(14, 15);
         padding-top: 28px;
         padding-bottom: 23px;
         padding-left: 23px;
         padding-right: 23px;
         justify-content: space-between;
      }
      @media (min-width: 769px) {
         // .orders__heading-type
         &-type {
            display: inline-block;
         }

         // .orders__heading-color
         &-color {
            display: inline-block;
         }

         // .orders__heading-email
         &-email {
            display: inline-block;
         }

         // .orders__heading-size
         &-size {
            display: inline-block;
         }

         // .orders__heading-comment
         &-comment {
            display: inline-block;
         }

         // .orders__heading-address
         &-address {
            display: inline-block;
            transform: translate(-9px, 0);
         }

         // .orders__heading-status
         &-status {
            display: inline-block;
            transform: translate(-9px, 0);
         }

         // .orders__heading-action
         &-action {
            display: inline-block;
            transform: translate(-3px, 0);
         }
      }
   }

   &__items {
      display: grid;
      row-gap: 10px;
      @media (max-width: 768px) {
         padding-bottom: 17px;
      }
      @media (min-width: 400px) {
         grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
         column-gap: 10px;
      }
      @media (min-width: 769px) {
         grid-template-columns: 1fr;
         column-gap: 0;
         overflow: auto;
         max-width: 100%;
         padding-bottom: 23px;
      }
   }
   &__item {
      display: grid;
      border-radius: 14px;
      @media (max-width: 768px) {
         background: #2c2f33;
         padding-top: 19px;
         padding-bottom: 19px;
         padding-right: 19px;
         padding-left: 18px;
         grid-template-columns: 32px repeat(6, 1fr) 32px;
         align-items: center;
      }
      @media (min-width: 769px) {
         background-color: #1d1f21;
         grid-template-columns: repeat(8, auto);
         align-items: center;
         padding: 25px;
         padding-top: 21px;
         padding-bottom: 27px;
         padding-left: 22px;
         padding-right: 28px;
         // white-space: nowrap;
      }
   }
   // .orders__type
   &__type {
      @include fl(16, 21);
      color: #fcffff;
      font-weight: 600;
      @media (max-width: 768px) {
         grid-column: 2/9;
         grid-row: 1/2;
         padding-left: 14px;
      }
      @media (min-width: 769px) {
         padding-right: 36px;
         margin-right: 3px;
         white-space: nowrap;
      }
   }

   // .orders__color
   &__color {
      span {
         display: inline-block;
         width: 32px;
         height: 32px;
         border-radius: 50%;
         background-color: #eb8032;
      }
      @media (max-width: 768px) {
         grid-column: 1/2;
         grid-row: span 2;
      }
      @media (min-width: 769px) {
         padding-right: 18px;
         margin-right: 10px;
      }
   }

   // .orders__email
   &__email {
      color: #fcffff;
      @include fl(14, 21);
      @media (max-width: 768px) {
         grid-column: 2/9;
         grid-row: 2/3;
         padding-left: 14px;
      }
      @media (min-width: 769px) {
         font-weight: 600;
         padding-right: 14px;
      }
   }

   // .orders__size
   &__size {
      color: #fcffff;
      font-weight: 600;
      @media (max-width: 768px) {
         grid-column: span 8;
         display: flex;
         align-items: center;
         justify-content: space-between;
         position: relative;
         p {
            &:first-child {
               @include fl(14, 15);
               font-weight: 300;
               transform: translate(0, -1px);
            }
            &:last-child {
               font-weight: 600;
               @include fl(14, 21);
               padding-top: 13px;
               padding-bottom: 15px;
            }
         }
         margin-top: 15px;
         margin-bottom: 5px;
         position: relative;
         &:after,
         &:before {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 1px;

            background: linear-gradient(94.78deg, rgba(104, 202, 255, 0.1) 9.27%, rgba(209, 181, 255, 0.1) 84.06%);
         }
         &:after {
            top: 0;
         }
         &:before {
            bottom: 0;
         }
      }
      @media (min-width: 769px) {
         white-space: nowrap;
         p {
            &:first-child {
               display: none;
            }
         }
         padding-right: 24px;
         @include fl(16, 21);
      }
   }

   // .orders__comment
   &__comment {
      @media (max-width: 374px) {
         grid-column: span 8;
         margin: 0;
         padding-left: 0;
         grid-row: 5/6;
      }
      @media (max-width: 450px) {
         grid-column: 5/9;
         grid-row: 5/6;
         // margin-left: auto;
         padding-left: 13px;
      }
      @media (max-width: 768px) {
         grid-column: span 8;
         // margin: 0 !important;
         // padding-left: 0 ;
         grid-row: 5/6;
         p {
            color: #fcffff;
            &:first-child {
               font-size: 14px;
               line-height: 15px;
               margin-bottom: 7px;
            }
            &:last-of-type {
               @include fl(14, 18);
            }
         }
         button {
            display: none;
         }
      }

      @media (min-width: 769px) {
         padding-right: 18px;
         @include fl(12, 18);
         p {
            &:first-child {
               display: none;
            }
            &:last-of-type {
               order: 1;
               overflow: hidden;
               white-space: nowrap;
               text-overflow: clip;
               max-width: 143px;
               color: #fcffff;
            }
         }
         button {
            order: 2;
            cursor: pointer;
            display: block;
            color: #86a8ff;
            position: relative;
            font-size: 12px;
            line-height: 18px;
            font-weight: 700;
            transform: translate(0, 2px);

            &:after {
               content: "";
               position: absolute;
               bottom: 2px;
               left: 0;
               width: 100%;
               height: 1px;
               background: #86a8ff;
            }
         }
      }
   }

   // .orders__address
   &__address {
      @media (max-width: 374px) {
         grid-column: span 8;
         padding-right: 0;
         grid-row: 6/7;
         position: relative;
         padding-top: 9px;
         margin-left: 0;
         margin-top: 6px;
         // &:before {
         //    content: "";
         //    position: absolute;
         //    top: 0;
         //    left: 0;
         //    width: 100%;
         //    height: 1px;
         //    background: linear-gradient(94.78deg, rgba(104, 202, 255, 0.1) 9.27%, rgba(209, 181, 255, 0.1) 84.06%);
         // }
         &:before {
            display: block;
         }
      }
      @media (max-width: 450px) {
         grid-column: 1/5;
         grid-row: 5/6;
         padding-right: 13px;
         margin-top: 0;
         padding-top: 0;
         &::before {
            display: none;
         }
      }
      @media (max-width: 768px) {
         grid-column: span 8;
         grid-row: 6/7;
         position: relative;
         padding-top: 9px;
         margin-top: 6px;
         &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: linear-gradient(94.78deg, rgba(104, 202, 255, 0.1) 9.27%, rgba(209, 181, 255, 0.1) 84.06%);
         }
         p {
            color: #fcffff;
            &:first-child {
               font-size: 14px;
               line-height: 15px;
               margin-bottom: 7px;
            }
            &:last-of-type {
               @include fl(14, 18);
            }
         }
         button {
            display: none;
         }
      }

      @media (min-width: 769px) {
         @include fl(12, 18);
         padding-right: 18px;
         p {
            &:first-child {
               display: none;
            }
            &:last-of-type {
               order: 1;
               overflow: hidden;
               white-space: nowrap;
               text-overflow: clip;
               max-width: 99px;
               color: #fcffff;
            }
         }
         button {
            order: 2;
            cursor: pointer;
            display: block;
            color: #86a8ff;
            position: relative;
            font-size: 12px;
            line-height: 18px;
            font-weight: 700;
            transform: translate(0, 2px);

            &:after {
               content: "";
               position: absolute;
               bottom: 2px;
               left: 0;
               width: 100%;
               height: 1px;
               background: #86a8ff;
            }
         }
      }
   }

   // .orders__status
   &__status {
      p:last-child {
         font-weight: 700;
         @include fl(16, 28);
         color: #c5ff98;
      }
      @media (max-width: 768px) {
         grid-column: span 8;
         grid-row: 4/5;
         display: flex;
         align-items: center;
         justify-content: space-between;
         p:first-child {
            @include fl(14, 15);
            color: #fcffff;
         }
         p:last-child {
            position: relative;
            transform: translate(3px, 0);

            &:before {
               content: "";
               display: inline-block;
               width: 6px;
               height: 6px;
               background: #c5ff98;
               margin-right: 8px;
               border-radius: 50%;
               transform: translate(0, -2px);
            }
         }
         padding-top: 3px;
         padding-right: 3px;
         padding-bottom: 9px;
         margin-bottom: 7px;
         position: relative;
         &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: linear-gradient(94.78deg, rgba(104, 202, 255, 0.1) 9.27%, rgba(209, 181, 255, 0.1) 84.06%);
         }
      }
      @media (min-width: 769px) {
         // padding-right: 9px;
         margin-right: 9px;
         width: 103px;
         height: 40px;
         background-color: rgba(197, 255, 152, 0.1);
         border-radius: 10px;
         display: flex;
         justify-content: center;
         align-items: center;
         cursor: pointer;
         p {
            &:first-child {
               display: none;
            }
         }
      }
   }

   // .orders__action
   &__action {
      font-weight: 700;
      @include fl(14, 20);
      @extend %grad-bg;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      @media (max-width: 374px) {
         grid-row: 7/8;
      }
      @media (max-width: 400px) {
         width: 100%;
      }
      @media (max-width: 450px) {
         grid-column: span 8;
         grid-row: 6/7;
      }
      @media (max-width: 768px) {
         grid-row: 7/8;
         margin-top: 17px;
         width: 103px;
         cursor: pointer;
      }

      @media (min-width: 769px) {
         min-width: 103px;
         cursor: pointer;
      }
   }
}
body.admin-owner,
body.admin-worker {
   .orders {
      &__heading-status {
         display: none;
      }
      &__items {
         row-gap: 8px;
      }
      &__size {
         @media (max-width: 768px) {
            margin-bottom: 14px;
         }
      }
      &__status {
         display: none;
      }
   }
}
