@font-face {
  font-family: 'icons';
  src:
    url('../fonts/icons.ttf?n3atup') format('truetype'),
    url('../fonts/icons.woff?n3atup') format('woff'),
    url('../fonts/icons.svg?n3atup#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.arrow-down:before {
  content: "\e900";
  color: #c8d2dc;
}
.arrow-down-btn:before {
  content: "\e901";
  color: #525960;
}
.arrow-next:before {
  content: "\e902";
  color: #c8d2dc;
}
.arrow-next-grad:before {
  content: "\e903";
}
.arrow-prev:before {
  content: "\e904";
  color: #c8d2dc;
}
.arrow-up-btn:before {
  content: "\e905";
  color: #86a8ff;
}
.instagram:before {
  content: "\e906";
}
.pinterest:before {
  content: "\e907";
}
.telegram:before {
  content: "\e908";
}
.twitter:before {
  content: "\e909";
}
.usd:before {
  content: "\e90a";
}
.turn-down:before {
  content: "\e90b";
  color: #c5ff98;
}
.star:before {
  content: "\e90c";
}
.star-decor:before {
  content: "\e90d";
  color: #fcffff;
}
.workers:before {
  content: "\e90e";
}
.video:before {
  content: "\e90f";
}
.search:before {
  content: "\e910";
  color: #c8d2dc;
}
.orders:before {
  content: "\e911";
}
.nft:before {
  content: "\e912";
}
.messages:before {
  content: "\e913";
}
.avatar .path1:before {
  content: "\e914";
  color: rgb(252, 232, 227);
}
.avatar .path2:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(226, 152, 143);
}
.avatar .path3:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(216, 93, 99);
}
.avatar .path4:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(183, 61, 73);
}
.avatar .path5:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(76, 34, 75);
}
.avatar .path6:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(226, 152, 143);
}
.avatar .path7:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(196, 105, 102);
}
.avatar .path8:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(196, 105, 102);
}
.avatar .path9:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(196, 105, 102);
}
.avatar .path10:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(196, 105, 102);
}
.avatar .path11:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(196, 105, 102);
}
.avatar .path12:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(76, 34, 75);
}
.copy:before {
  content: "\e920";
}
.crown:before {
  content: "\e921";
}
.diamond:before {
  content: "\e922";
}
.lock:before {
  content: "\e923";
  color: #c8d2dc;
}
